<div class="grid">
  <div class="col-12">
      <div class="card px-6 py-6">
          <p-toast></p-toast>
          <p-toolbar styleClass="mb-4">
            <ng-template pTemplate="left">
                <button pButton pRipple label="Ajouter un fournisseur"icon="pi pi-plus" class="p-button-success mr-2" [routerLink]="['/addfournisseur']" routerLinkActive="router-link-active"></button>
              </ng-template>
              <ng-template pTemplate="right">
                <div class="search-box ml-auto">
                  <i class="pi pi-search"></i>
                  <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Rechercher..." class="w-full sm:w-auto" />
                </div>
              </ng-template>

             
          </p-toolbar>
          <p-table #dt [value]="fournisseurs" [columns]="cols" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['name','address','country','phone','email','website']" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Affichage de {first} à {last} sur {totalRecords} entrées" selectionMode="multiple" [rowHover]="true" dataKey="id">

              <ng-template pTemplate="caption">
                  <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                      <h5 class="m-0">Gérer les Fournisseurs</h5>
                     
                  </div>
              </ng-template>

              <!-- Entêtes de colonne -->
              <ng-template pTemplate="header">
                  <tr>
                     
                      <th pSortableColumn="nom_fournisseur">Nom <p-sortIcon field="nom_fournisseur"></p-sortIcon></th>
                      <th pSortableColumn="adresse">Adresse <p-sortIcon field="adresse"></p-sortIcon></th>
                      <th pSortableColumn="email">Email <p-sortIcon field="email"></p-sortIcon></th>
                      <th pSortableColumn="telephone">Telephone <p-sortIcon field="telephone"></p-sortIcon></th>
                      <th>Actions</th>
                  </tr>
              </ng-template>

              <!-- Corps du tableau -->
              <ng-template pTemplate="body" let-fournisseur>
                  <tr>
                     
                      <td>{{ fournisseur.nom_fournisseur }}</td>
                      <td>{{ fournisseur.adresse }}</td>
                      <td>{{ fournisseur.email }}</td>
                      <td>{{ fournisseur.telephone }}</td>
                      <td>
                        <!--button pButton pRipple icon="pi pi-eye" class="p-button-rounded p-button-info mr-2" [routerLink]="['/detailfournisseur', fournisseur.fournisseur_id]" routerLinkActive="router-link-active"></button-->

                          <!-- Bouton Modifier -->
                          <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" [routerLink]="['/editfournisseur', fournisseur.fournisseur_id]" routerLinkActive="router-link-active"></button>
                          <!-- Bouton Supprimer -->
                          <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="confirmDeleteFournisseur(fournisseur)"></button>
                      </td>
                  </tr>
              </ng-template>
              
        <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="8">Aucun fournisseur trouvé.</td>
            </tr>
          </ng-template>
          </p-table>
      </div>
  </div>
</div>
