<div class="dashboard-card p-card p-mb-3 p-shadow-4">
  <h2 class="card-title p-text-center">Durée Moyenne de Vie des Équipements</h2>
  <div class="p-d-flex p-jc-center">
    <p class="card-value p-text-center p-mb-0 p-mt-2">{{ averageAssetLifetime }} ans</p>
  </div>
</div>

<div class="dashboard-card p-card p-mb-3 p-shadow-4">
  <h2 class="card-title p-text-center">Temps d’Arrêt Non Planifié</h2>
  <div class="p-d-flex p-jc-center">
    <p class="card-value p-text-center p-mb-0 p-mt-2">{{ unplannedDowntime }}</p>
  </div>
</div>
