<div class="p-card p-mb-3 p-shadow-4">
  <h2 class="p-text-center">Durée Moyenne de Vie des Équipements</h2>
  <div class="p-d-flex p-jc-center">
      <p class="p-text-center p-mb-0 p-mt-2" style="font-size: 24px">{{ averageAssetLifetime }} ans</p>
  </div>
</div>

<div class="p-card p-mb-3 p-shadow-4">
  <h2 class="p-text-center">Temps d’Arrêt Non Planifié</h2>
  <div class="p-d-flex p-jc-center">
      <p class="p-text-center p-mb-0 p-mt-2" style="font-size: 24px">{{ unplannedDowntime }}</p>
  </div>
</div>
