<ngx-spinner bdOpacity=0.9 bdColor="rgba(51,51,51,0.5)" size="medium" color="#fff" type="ball-scale-multiple" [fullScreen]="true"></ngx-spinner>

<p-toast></p-toast>
<form [formGroup]="utilisationform" (ngSubmit)="onSubmit()" class="p-fluid">


    <div>
     
      </div>
      <div>
        <label for="piece_id">ID de la piéce</label>
        
      </div>

    <div class="p-field">
      <label for="quantity_used">Quantité utilisé</label>
      <input type="text" id="quantity_used" formControlName="quantity_used" class="p-inputtext" required>
    </div>
    <div class="p-field">
      <label for="date_utilisation">Date d'utilisation</label>
      <textarea type="date" id="date_utilisation" formControlName="date_utilisation" class="p-inputtext"></textarea>
    </div>

    <div class="p-field">
        <label for="description">Description</label>
        <input type="text" id="description" formControlName="description" class="p-inputtext" required>
    </div>

      <button type="submit" class="p-button p-button-primary"  >Soumettre</button>
 
    
  </form>
  <br>

  