<div class="container">
  <h2>Ajouter</h2>
  <p-toast></p-toast>
  <form [formGroup]="utilisationform" (ngSubmit)="onSubmit()" class="p-fluid">
    <div class="p-field">
      <label for="equipementSelect">Sélectionner un équipement</label>
      <select id="equipementSelect" formControlName="EquipmentTypeID" class="p-inputtext p-d-block">
        <option *ngFor="let equipement of equipements" [ngValue]="equipement?.EquipmentTypeID">{{ equipement?.TypeName }}</option>
      </select>
    </div>
    <div class="p-field">
      <label for="pieceSelect">Sélectionner une pièce :</label>
      <select id="pieceSelect" formControlName="piece_id" class="p-inputtext p-d-block">
        <option *ngFor="let piece of pieces" [ngValue]="piece?.piece_id">{{ piece?.nom_piece }}</option>
      </select>
    </div>

    <div class="p-field">
      <label for="quantity_used">Quantité utilisée</label>
      <input type="text" id="quantity_used" formControlName="quantity_used" pInputText class="p-inputtext">
    </div>
    <div class="p-field">
      <label for="description">Description</label>
        <textarea rows="rows" id="description" formControlName="description" cols="cols" pInputTextarea class="p-inputtext"></textarea>
      </div>
    <button type="submit" [disabled]="isLoading" pButton class="p-button-primary p-mr-2">Enregistrer</button>
    <a routerLink="/liste-utilisations-pieces" pButton class="p-button-secondary">Annuler</a>
  </form>
</div>
