<header id="st-navbar-desktop-wrapper" class="st-navbar-desktop-wrapper st-navbar-desktop-fixed">
    <div class="st-navbar-desktop container">
      <div class="st-navbar-desktop-logo">
        <a class="st-navbar-desktop-logo-link" title="Logo" href="index.html">
          <img src="https://www.smoothemes.es/media/logos/smoothemes-logo.svg" alt="Smoothemes Logo">
        </a>
      </div>
      <nav class="st-navbar-desktop-menu" role="navigation">
        <ul id="st-navbar-desktop-menu-nav" class="sf-menu">
          <li><a routerLink="/">Inicio</a></li>
          <li><a routerLink="#">Left</a>
            <ul>
              <li><a routerLink="#">Página uno</a></li>
              <li><a routerLink="#">Página dos</a>
                <ul>
                  <li><a routerLink="#">Página dos uno</a></li>
                  <li><a routerLink="#">Página dos dos</a></li>
                  <li><a routerLink="#">Página dos tres</a></li>
                </ul>
              </li>
              <li><a routerLink="#">Página tres</a></li>
            </ul>
          </li>
          <li><a routerLink="#">Blog</a></li>
          <li><a routerLink="#">Portfolio</a></li>
          <li class="dropdown-right"><a routerLink="#">Right</a>
            <ul>
              <li><a routerLink="#">Página uno</a></li>
              <li><a routerLink="#">Página dos</a>
                <ul>
                  <li><a routerLink="#">Página dos uno</a></li>
                  <li><a routerLink="#">Página dos dos</a></li>
                  <li><a routerLink="#">Página dos tres</a></li>
                </ul>
              </li>
              <li><a routerLink="#">Página tres</a></li>
            </ul>
          </li>
          <li><a routerLink="#">Contacto</a></li>
        </ul>
      </nav>
    </div>
  </header>
  