<div class="container">
    <h2>Modifier les données d'une utilisation de pièces</h2>
    
    <form [formGroup]="utilisationForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="EquipmentTypeID">ID de l'équipement</label>
        <input type="number" formControlName="EquipmentTypeID" class="form-control" required>
      </div> 
      <div class="form-group">
        <label for="piece_id">ID de la pièce</label>
        <input type="number" formControlName="piece_id" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="quantity_used">Quantité utilisée</label>
        <input type="number" formControlName="quantity_used" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="date_utilisation">Date d'utilisation</label>
        <input type="date" formControlName="date_utilisation" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea formControlName="description" class="form-control"></textarea>
      </div>
      
      <!-- Ajoutez d'autres champs du formulaire ici -->
  
      <button type="submit" [disabled]="isLoading" class="btn btn-primary">Enregistrer</button>
      <a routerLink="/liste-utilisations-pieces" class="btn btn-secondary">Annuler</a>
    </form>
  </div>
  