<div class="create-password-container">
    <h2>Create New Password</h2>
    
    <div class="form-group">
      <label for="password">New Password:</label>
      <input id="password" type="password" pInputText [(ngModel)]="password" (ngModelChange)="validatePassword()" [ngClass]="{'invalid-input': isInvalidPassword}" />
      <div *ngIf="isInvalidPassword" class="error-message">Password must be at least 8 characters long.</div>
    </div>
    
    <div class="form-group">
      <label for="confirmPassword">Confirm New Password:</label>
      <input id="confirmPassword" type="password" pInputText [(ngModel)]="confirmPassword" (ngModelChange)="validateConfirmPassword()" [ngClass]="{'invalid-input': isInvalidConfirmPassword}" />
      <div *ngIf="isInvalidConfirmPassword" class="error-message">Passwords do not match.</div>
    </div>
    
    <button pButton type="button" label="Submit" (click)="submit()" class="p-button-success"></button>
    <br>
    <button pButton type="button" label="Skip" (click)="skip()"  class="p-button-error"></button>
  </div>
  