<div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
  <div class="flex flex-column align-items-center justify-content-center">
      <div style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);">
          <div class="w-full surface-card py-8 px-5 sm:px-8" style="border-radius:53px">
              <div class="text-center mb-5">
                  <h2>Modifier votre mot de passe</h2>
              </div>
   
    
              <div class="form-group">
                <label for="password">Nouveau mot de passe:</label>
                <input id="password" type="password" pInputText [(ngModel)]="password" (ngModelChange)="validatePassword()" [ngClass]="{'invalid-input': isInvalidPassword}" />
                <div *ngIf="isInvalidPassword" class="error-message">Le mot de passe doit comporter au moins 8 caractères.</div>
              </div>
              
              <div class="form-group">
                <label for="confirmPassword">Confirmer le nouveau mot de passe:</label>
                <input id="confirmPassword" type="password" pInputText [(ngModel)]="confirmPassword" (ngModelChange)="validateConfirmPassword()" [ngClass]="{'invalid-input': isInvalidConfirmPassword}" />
                <div *ngIf="isInvalidConfirmPassword" class="error-message">Les mots de passe ne correspondent pas.</div>
              </div>
              
    <div class="button-container">
      <button pButton type="button" label="Enregistrer" (click)="submit()" class="p-button-primary custom-submit-button"></button>
      <button pButton type="button" label="ignorer" (click)="skip()" class="p-button-primary custom-submit-button"></button>
    </div>
    
  </div>
  