.create-password-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    
    h2 {
      text-align: center;
      margin-bottom: 20px;
    }
    
    .form-group {
      margin-bottom: 20px;
      
      label {
        display: block;
        margin-bottom: 5px;
      }
      
      input {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
        
        &.invalid-input {
          border-color: red;
        }
      }
  
      .error-message {
        color: red;
        margin-top: 5px;
      }
    }
    
    button {
      width: 100%;
    }
  }
  .custom-submit-button {
    // Style pour le bouton Submit
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    
   
  }
  
  .custom-skip-button {
    // Style pour le bouton Skip
    background-color: #f44336; // Rouge
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    
    &:hover {
      background-color: #da190b;
    }
  }
  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    // Espace entre les boutons
  }
  .form-group {
    margin-bottom: 1.5rem;
    
    label {
      display: block;
      font-weight: bold;
      margin-bottom: 0.5rem;
    }
  
    input {
      width: 100%;
      padding: 0.5rem;
      font-size: 1rem;
      border: 1px solid #ccc;
      border-radius: 4px;
      
      &:focus {
        outline: none;
        border-color: #007bff;
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
      }
    }
  }
  
  .invalid-input {
    border-color: #dc3545;
    
    &:focus {
      border-color: #dc3545;
      box-shadow: 0 0 5px rgba(220, 53, 69, 0.5);
    }
  }
  
  .error-message {
    color: #dc3545;
    font-size: 0.875rem;
    margin-top: 0.5rem;
  }
  
  