<div class="loading-overlay" *ngIf="isLoading">
    <p-progressSpinner *ngIf="isLoading" ariaLabel="chargement"></p-progressSpinner>
  </div>
  <div class="group-detail">
      
    
      <button (click)="printDocument()" class="btn-print">Print</button>
    <h2>Priority Details</h2>
    <div class="detail-row">
        <label>Nom de la priorité: </label>
        <span>{{ priority.Name }}</span>
    </div>
    
    <div class="detail-row">
        <label>Créé par: </label>
        <span>{{ priority.CreatedBy }}</span>
    </div>
    
    <div class="detail-row">
        <label>Créé le: </label>
        <span>{{ priority.CreatedOn | date }}</span> <!-- Formatage de la date -->
    </div>
    
    <div class="detail-row">
        <label>Modifié par: </label>
        <span>{{ priority.ModifiedBy }}</span>
    </div>
    
    <div class="detail-row">
        <label>Modifié le: </label>
        <span>{{ priority.ModifiedOn | date }}</span> <!-- Formatage de la date -->
    </div>
    
