<ngx-spinner bdOpacity="0.9" bdColor="rgba(51,51,51,0.5)" size="medium" color="#fff" type="ball-scale-multiple" [fullScreen]="true"></ngx-spinner>

<!-- Your other content goes here -->
<div class="card flex justify-content-center" *ngIf="!isLoading">
    <div class="d-flex justify-content-between align-items-center">
        <p-button label="Add Priority" icon="pi pi-plus" [routerLink]="['/createpriority']" routerLinkActive="router-link-active"></p-button>
    
        <div class="col-sm-3">
            <div class="search-box">
                <i class="material-icons"></i>
                <input type="text" class="form-control" placeholder="Search…">
            </div>
        </div>
    </div>
    <br>

    <p-table [value]="priorities" [rows]="10" [paginator]="true" stateStorage="session" stateKey="statedemo-session">
        <div class="loading-overlay" *ngIf="isLoading">
            <p-progressSpinner *ngIf="isLoading" ariaLabel="loading"></p-progressSpinner>
        </div>
        
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
                <th>Action</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-priority>
            <tr>
                <td>{{ priority.Name }}</td>
                <td>
                    <a [routerLink]="['/priority-details', priority.PriorityID]" class="view" title="View" data-toggle="tooltip">
                        <i class="material-icons">&#xE417;</i>
                    </a>
                    <a href="#" class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                    <p-button (click)="deletePriority(priority.PriorityID)" label="Delete" severity="danger"></p-button>
                </td>
            </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="2">No priorities found.</td>
            </tr>
        </ng-template>
    </p-table>
</div>
