.high-priority {
    color: red; /* Rouge pour haute priorité */
  }
  
  .medium-priority {
    color: orange; /* Orange pour priorité moyenne */
  }
  
  .low-priority {
    color: green; /* Vert pour basse priorité */
  }
  