<!-- update-user.component.html -->

<form [formGroup]="updateForm" (ngSubmit)="updateUser()" class="update-form p-fluid p-grid">
  <p-toast></p-toast>
  <h2 class="form-title">Modifier un utilisateur</h2>
  <div class="form-field p-col-12 p-md-6">
    <label for="firstName">Prénom</label>
    <input type="text" id="FirstName" formControlName="FirstName" pInputText required>
  </div>

  <div class="form-field p-col-12 p-md-6">
    <label for="lastName">Nom</label>
    <input type="text" id="LastName" formControlName="LastName" pInputText required>
  </div>

  <div class="form-field p-col-12 p-md-6">
    <label for="email">Email</label>
    <input type="email" id="Email" formControlName="Email" pInputText required>
  </div>

  <div class="form-field p-col-12 p-md-6">
    <label for="username">Nom d'utilisateur</label>
    <input type="text" id="Username" formControlName="Username" pInputText required>
  </div>

  <div class="form-field p-col-12">
    <button type="submit" pButton icon="pi pi-save" class="btn-primary">Mettre à jour</button>
  </div>
  <div class="form-field p-col-12">
    <button type="button" (click)="onCancel()" pButton icon="pi pi-times" class="btn-secondary">Annuler</button>
  </div>
</form>
