
  
    .custom-button {
        background-color: #4CAF50; /* Couleur de fond */
        border: none; /* Supprime la bordure */
        color: white; /* Couleur du texte */
        padding: 12px 24px; /* Espacement intérieur */
        text-align: center; /* Alignement du texte */
        text-decoration: none; /* Supprime la décoration du texte */
        display: inline-block; /* Affichage en ligne */
        font-size: 16px; /* Taille de la police */
        margin: 4px 2px; /* Marge extérieure */
        transition-duration: 0.4s; /* Durée de transition */
        cursor: pointer; /* Curseur pointer */
        border-radius: 8px; /* Bordures arrondies */
    }

    .custom-button:hover {
        background-color: #45a049; /* Couleur de fond au survol */
        color: white; /* Couleur du texte au survol */
    }

/* Style pour les éléments <input> dans les cellules de la table */
table input[type="text"] {
    width: 100%; /* Prend la largeur totale de la cellule */
    padding: 8px; /* Ajoute un remplissage intérieur */
    border: 1px solid #ccc; /* Ajoute une bordure */
    border-radius: 5px; /* Ajoute un arrondi aux coins */
    box-sizing: border-box; /* Inclut le remplissage et la bordure dans la largeur */
    font-size: 14px; /* Taille de police */
}

/* Style pour les éléments <input> lorsqu'ils sont en focus */
table input[type="text"]:focus {
    outline: none; /* Supprime la bordure de mise au point par défaut */
    border-color: #007bff; /* Change la couleur de la bordure lorsque l'élément est en focus */
}
table input[type="text"]:focus {
    outline: none; /* Supprime la bordure de mise au point par défaut */
    border-color: #007bff; /* Change la couleur de la bordure lorsque l'élément est en focus */
}
    .view i {
        color: blue; /* Couleur pour l'icône "View" */
    }

    .edit i {
        color: green; /* Couleur pour l'icône "Edit" */
    }

    .delete i {
        color: red; /* Couleur pour l'icône "Delete" */
    }
 