
        
        <!--tr>
            <th>
                <input pInputText type="text" (input)="dt1.filter($event.target.value, 'name', 'contains')" placeholder="Search by Name" class="w-full" />
            </th>
            <th>
                <input pInputText type="text" (input)="dt1.filter($event.target.value, 'country.name', 'contains')" placeholder="Search by Country" class="w-full" />
            </th>
            <th>
                <input pInputText type="text" (input)="dt1.filter($event.target.value, 'representative.name', 'contains')" placeholder="Search by Representative" class="w-full" />
            </th>
            <th>
                <input pInputText type="text" (input)="dt1.filter($event.target.value, 'status', 'contains')" placeholder="Search by Status" class="w-full" />
            </th>
        </tr-->

        <p-button label="Ajouter un utilisateur" icon="pi pi-plus" [routerLink]="['/ajouter']" routerLinkActive="router-link-active"></p-button>
        <br><br>
        <div class="col-sm-4">
            <div class="search-box">
                <i class="material-icons"></i>
                <input type="text" class="form-control" placeholder="Search…">
            </div>
        </div>

        <p-table [value]="users" [rows]="10" [paginator]="true" stateStorage="session" stateKey="statedemo-session">
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="FirstName">First Name <p-sortIcon field="FirstName"></p-sortIcon></th>
                    <th pSortableColumn="LastName">Last Name <p-sortIcon field="LastName"></p-sortIcon></th>
                    <th pSortableColumn="Email">Email <p-sortIcon field="Email"></p-sortIcon></th>
                    <th pSortableColumn="Username">Username <p-sortIcon field="Username"></p-sortIcon></th>
                    <th pSortableColumn="Role">Role <p-sortIcon field="Role"></p-sortIcon></th>
                    <th pSortableColumn="Active">Active <p-sortIcon field="Active"></p-sortIcon></th>
                    <th>Action</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-user>
                <tr>
                    <td>{{ user.FirstName }}</td>
                    <td>{{ user.LastName }}</td>
                    <td>{{ user.Email }}</td>
                    <td>{{ user.Username }}</td>
                    <td>{{ user.Role }}</td>
                    <td>{{ user.Active }}</td>
                    <td>
                        <a href="#" class="view" title="View" data-toggle="tooltip"><i class="material-icons">&#xE417;</i></a>
                        <a href="#" class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                        <p-button (click)="deleteUser(user.UserID)" label="Delete" severity="danger"></p-button>
                    </td>
                </tr>
            </ng-template>

            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="7">No user found.</td>
                </tr>
            </ng-template>
        </p-table>
        