<ngx-spinner bdOpacity="0.9" bdColor="rgba(51,51,51,0.5)" size="medium" color="#fff" type="ball-scale-multiple" [fullScreen]="true"></ngx-spinner>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<!-- Your other content goes here -->
<div class="grid">
  <div class="col-12">
    <div class="card px-6 py-6">
      <p-toast></p-toast>
      <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
          <button pButton pRipple label="Ajouter un utilisateur" icon="pi pi-plus" class="p-button-success mr-2" [routerLink]="['/ajouter']" routerLinkActive="router-link-active"></button>
        </ng-template>
        <ng-template pTemplate="right">
          <div class="search-box ml-auto">
            <i class="pi pi-search"></i>
            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Rechercher..." class="w-full sm:w-auto" />
          </div>
        </ng-template>
      </p-toolbar>

      <p-table #dt [value]="users" [columns]="cols" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['name','country.name','representative.name','status']" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Affichage de {first} à {last} sur {totalRecords} entrées" selectionMode="multiple" [rowHover]="true" dataKey="id">
        <ng-template pTemplate="caption">
          <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
            <h5 class="m-0">Gérer les utilisateurs</h5>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="FirstName">First Name <p-sortIcon field="FirstName"></p-sortIcon></th>
                    <th pSortableColumn="LastName">Last Name <p-sortIcon field="LastName"></p-sortIcon></th>
                    <th pSortableColumn="Email">Email <p-sortIcon field="Email"></p-sortIcon></th>
                    <th pSortableColumn="Username">Username <p-sortIcon field="Username"></p-sortIcon></th>
                    <th pSortableColumn="Role">Role <p-sortIcon field="Role"></p-sortIcon></th>
                    <th pSortableColumn="Active">Active <p-sortIcon field="Active"></p-sortIcon></th>
                    <th>Action</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-user>
                <tr  [ngClass]="{'user-blocked': !user.Active}">
                    <td>{{ user.FirstName }}</td>
                    <td>{{ user.LastName }}</td>
                    <td>{{ user.Email }}</td>
                    <td>{{ user.Username }}</td>
                    <td>{{ user.Role }}</td>
                    <td>{{ user.Active }}</td>
                    <td>
                      <a *ngIf="user.Active" [routerLink]="['/user-detail', user.UserID]" class="view" title="View" data-toggle="tooltip">
                        <i class="material-icons text-primary">&#xE417;</i> <!-- Icône de vue avec la couleur primaire -->
                      </a>
                      <a [routerLink]="['/update', user.UserID]" *ngIf="user.Active" class="edit" title="Edit" data-toggle="tooltip">
                        <i class="material-icons text-success">&#xE254;</i> <!-- Icône d'édition avec la couleur de succès -->
                      </a>
                      <button *ngIf="user.Active" (click)="deleteUser(user.UserID)" class="material-icons text-danger" title="Delete" data-toggle="tooltip">
                        &#xE872; <!-- Icône de suppression avec la couleur d'erreur -->
                      </button>
                      <button *ngIf="user.Active" (click)="toggleUserStatus(user)" title="{{ user.Active ? 'Bloquer' : 'Débloquer' }}" data-toggle="tooltip">
                        <i class="material-icons text-warning">{{ user.Active ? 'block' : 'unlock' }}</i> <!-- Icône de blocage ou de déblocage avec la couleur d'avertissement -->
                      </button>
                      <button *ngIf="!user.Active" (click)="toggleUserStatus(user)" title="Débloquer" data-toggle="tooltip">
                        <i class="material-icons text-info">unlock</i> <!-- Icône de déblocage avec la couleur d'information -->
                      </button>
                    </td>
                    
                    
                    
            </ng-template>

            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="7">No user found.</td>
                </tr>
            </ng-template>
        </p-table>
        </div>