<!-- user-form.component.html -->
<form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="user-form p-fluid p-grid">
    <p-toast></p-toast>
    
    <div class="form-field p-col-12 p-md-6">
        <label for="firstName">Prénom</label>
        <input type="text" id="firstName" formControlName="FirstName" pInputText>
    </div>
    
    <div class="form-field p-col-12 p-md-6">
        <label for="lastName">Nom</label>
        <input type="text" id="lastName" formControlName="LastName" pInputText>
    </div>
    
    <div class="form-field p-col-12 p-md-6">
        <label for="email">Adresse Email:</label>
        <input type="email" id="email" formControlName="Email" pInputText>
    </div>
    
    <div class="form-field p-col-12 p-md-6">
        <label for="username">Nom d'utilisateur:</label>
        <input type="text" id="username" formControlName="Username" pInputText>
    </div>
    
    <div class="form-field p-col-12 p-md-6">
        <label for="password">Mot de passe:</label>
        <input type="password" id="password" formControlName="Password" pPassword>
    </div>
    
    <div class="form-group p-col-12 p-md-6">
        <label for="role">Rôle:</label>
        <p-dropdown 
            id="role" 
            formControlName="Role" 
            [options]="roles" 
            [showClear]="true">
        </p-dropdown>
    </div>
    
    <div class="form-field p-col-12">
        <button type="submit" [disabled]="userForm.invalid" pButton icon="pi pi-user-plus">Add User</button>
    </div>
</form>
