<div class="container">
  <h2>Modifier local</h2>

  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="nom_fournisseur">Nom du local</label>
      <input type="text" [(ngModel)]="fournisseur.nom_fournisseur" name="nom_fournisseur" class="form-control">
    </div>
    <div class="form-group">
      <label for="adresse">Adresse</label>
      <input type="text" [(ngModel)]="fournisseur.adresse" name="adresse" class="form-control">
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" [(ngModel)]="fournisseur.email" name="email" class="form-control">
    </div>
    <div class="form-group">
      <label for="telephone">Télephone</label>
      <input type="text" [(ngModel)]="fournisseur.telephone" name="telephone" class="form-control">
    </div>
    <!-- Ajoutez d'autres champs du formulaire ici -->

    <button type="submit" [disabled]="isLoading" class="btn btn-primary">Enregistrer</button>
    <a routerLink="/location" class="btn btn-secondary">Annuler</a>
  </form>
</div>
