
<p-toast></p-toast>

<form [formGroup]="form" (ngSubmit)="onSubmit()" class="update-form p-fluid p-grid">
  <div class="form-title">
    <label for="id">Intervention N° {{id}}</label>
  </div>

  <div class="form-field">
    <label for="equipmentTypeID">Equipement</label>
    <p-autoComplete 
      [suggestions]="filteredEquipmentTypes" 
      (completeMethod)="filterEquipmentTypes($event)"
      (onSelect)="onEquipmentTypeSelect($event)"
      field="TypeName"
      [dropdown]="true"
      placeholder="Select an equipment"
      id="equipmentTypeID" 
      formControlName="selectedEquipmentType" 
    ></p-autoComplete>
  </div>
  

  <div class="form-field">
    <label for="priority">Priorité</label>
    <p-dropdown 
      id="priority" 
      [options]="Priorit" 
      formControlName="priority"
      optionLabel="name" 
      [required]="true"
      placeholder="Selection un Priorité" 
    ></p-dropdown>
  </div>

  <div class="form-field nature-field">
    <h5>Quelle est la nature de l'intervention ?</h5>
    <p-selectButton [options]="choix" formControlName="TicketType" optionLabel="name"></p-selectButton>
  </div>
  
  <div class="form-field">
    <label for="subject">Titre</label>
    <input type="text" id="subject" formControlName="subject" class="p-inputtext" required>
  </div>
  <div class="form-field">
    <label for="description">Description de l'intervention (optionnel)</label>
    <textarea id="description" formControlName="description" class="p-inputtext"></textarea>
  </div>

  <!-- Le contenu du dialogue -->
<p-dialog header="Assignation" [(visible)]="displayAssignDialog" [modal]="true" [style]="{ 'width': '50%' }">
  <!-- Contenu du dialogue -->
  <div class="dialog-content p-fluid">
    <div class="p-grid">
      <div class="p-col-12">
        <div class="p-field-radiobutton">
          <label for="assignType">Assign To:</label>
          <div class="p-grid p-formgrid">
            <div class="p-col">
              <p-radioButton formControlName="assignType" id="technician" value="technician" [(ngModel)]="selectedAssignType"></p-radioButton>
              <label for="technician">Technician</label>
            </div>
            <div class="p-col">
              <p-radioButton formControlName="assignType" id="group" value="group" [(ngModel)]="selectedAssignType"></p-radioButton>
              <label for="group">Group</label>
            </div>
            <div class="p-col">
              <p-radioButton formControlName="assignType" id="societe" value="societe" [(ngModel)]="selectedAssignType"></p-radioButton>
              <label for="societe">Societe</label>
            </div>
          </div>
        </div>
      </div>
      <div class="p-col-12">
        <div *ngIf="form.value.assignType === 'technician'">
          <app-assign-ticket-technician (userSelected)="onTechnicianSelected($event)"></app-assign-ticket-technician>
        </div>
        <div *ngIf="form.value.assignType === 'group'">
          <app-assign-ticket-group (groupeSelected)="onGroupeSelected($event)"></app-assign-ticket-group>
        </div>
        <div *ngIf="form.value.assignType === 'societe'">
          <app-assign-ticket-societe (societeSelected)="onSocieteSelected($event)"></app-assign-ticket-societe>
        </div>
      </div>
    </div>
  </div>

  <!-- Pied de page du dialogue avec des boutons pour soumettre ou annuler -->
  <div class="p-dialog-footer">
    <button type="button" class="p-button p-button-success" (click)="onSubmit1()">Valider</button>
    <button type="button" class="p-button p-button-danger" (click)="onCancel()">Annuler</button>
  </div>
</p-dialog>

<!-- Bouton pour ouvrir le dialogue -->
<div class="p-field">
  <h5>Associée</h5>
  <button type="button" (click)="showAssignDialog()" [disabled]="isDisable" class="p-button p-component p-button-icon-only">
    <span class="p-button-icon pi pi-user"></span>
  </button>
</div>
<br>
<!-- Display selected values -->
<div class="selected-values-grid" *ngIf="societe || technician || group">
  <div class="selected-value-item" *ngIf="societe">
    <span class="label">Selected Societe:</span>
    <span class="value">{{ societe.name }}</span>
  </div>
  <div class="selected-value-item" *ngIf="technician">
    <span class="label">Selected Technician:</span>
    <span class="value">{{ technician.Username }}</span>
  </div>
  <div class="selected-value-item" *ngIf="group">
    <span class="label">Selected Groupe:</span>
    <span class="value">{{ group.GroupName }}</span>
  </div>
</div>






<div class="form-field p-col-12">
  <button type="submit" [disabled]="form.invalid" class="btn-primary">Ajouter une intervention</button>
</div></form>
