@import 'primeng/resources/primeng.min.css';
// styles.scss
.p-field {
    margin-bottom: 20px;
  }
  
  .p-field label {
    font-weight: bold;
    display: block;
  }
  
  .p-inputtext, .p-dropdown {
    width: 100%;
  }
  
  .p-button {
    margin-top: 20px;
  }
  