/* list-stocks.component.scss */
:host {
    display: block;
    padding: 20px;
  }
  
  .table-header {
    font-weight: bold;
  }
  
  .table-body {
    font-size: 14px;
    color: #333; /* Couleur de texte par défaut */
  }
  
  .search-input {
    width: 300px; /* Définissez la largeur du champ de recherche selon vos besoins */
    padding: 8px; /* Ajoutez un peu de marge intérieure pour un aspect plus agréable */
    border: 1px solid #ccc; /* Ajoutez une bordure pour délimiter le champ de recherche */
    border-radius: 4px; /* Arrondissez les coins de la bordure */
    font-size: 14px; /* Définissez la taille de la police */
  }
  
  .container {
    display: flex;
    justify-content: space-between;
  }
  
  .search-column {
    width: 30%;
  }
  
  .table-column {
    width: 65%;
  }
  
  .search-input {
    width: calc(100% - 40px); /* Largeur du champ de recherche moins la largeur du bouton */
  }
  


  .stock-image {
    max-width: 100px;
    max-height: 100px;
  }
  
  .low-quantity {
    background-color: rgba(255, 255, 0, 0.5); /* Jaune avec opacité de 0.5 */
  }  
  .low {
    background-color: rgba(255, 0, 0, 0.5); /* Jaune avec opacité de 0.5 */
  }
  
  .required-quantity {
    background-color: rgba(86, 240, 0, 0.5); /* Vert avec opacité de 0.5 */
  }
  
  .over-maximum-quantity {
    background-color: rgba(252, 232, 58, 0.5); /* Jaune-vert avec opacité de 0.5 */
  }
  
  