<div class="row">
    <div class="col-md-6">
      <input type="text" pInputText placeholder="Rechercher" (input)="filter($event.target.value)" class="search-input">
    </div>
    <div class="col-md-6">
      <button pButton type="button" icon="pi pi-plus" class="p-button-raised p-button-success" routerLink="/addstocks">
        Ajouter un stock
      </button>
    </div>
  </div>
  
  <p-table [value]="stocks" [tableStyle]="{'min-width': '50rem'}" [rows]="10" [paginator]="true" [responsive]="true" [globalFilterFields]="['nom_piece', 'description', 'quantite']"
    (sort)="onSort($event)">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th pSortableColumn="nom_piece">Nom de la pièce <p-sortIcon field="nom_piece"></p-sortIcon></th>
        <th pSortableColumn="description">Description <p-sortIcon field="description"></p-sortIcon></th>
        <th pSortableColumn="quantite">Quantité <p-sortIcon field="quantite"></p-sortIcon></th>
        <th>Image</th>
        <th>Statut</th>
        <th>Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-stock>
      <tr>
        <td>{{ stock.nom_piece }}</td>
        <td>{{ stock.description }}</td>
        <td>{{ stock.quantite }}</td>
        <td><img [src]="stock.image_url" alt="Stock Image" style="max-width: 100px;"></td>
        <td>{{ stock.statut }}</td> <!-- Affichez le statut du stock -->
        <td>
          <button pButton type="button" icon="pi pi-trash" class="p-button-danger" (click)="deleteStock(stock.stock_id)"></button>
          <a [routerLink]="['/updatestock', stock.stock_id]" class="view" title="View" data-toggle="tooltip">
            <i class="material-icons">&#xE417;</i>
          </a>


          <button type="button"[routerLink]="['/commander', stock.stock_id]" class="p-button p-component p-button-icon-only" 
        [disabled]="stock.quantite >10 ">
  <span class="p-button-icon pi pi-user"></span> <!-- Icône d'utilisateur, remplacez 'pi pi-user' par l'icône de votre choix -->
  </button>
        </td>
      </tr>
    </ng-template>
  </p-table>
  