<div class="row">
    <div class="col-md-6">
      <input type="text" pInputText placeholder="Rechercher" (input)="filter($event.target.value)" class="search-input">
    </div>
    <div class="col-md-6">
      <button pButton type="button" icon="pi pi-plus" class="p-button-raised p-button-success" routerLink="/addlocation">
        Ajouter une location
      </button>
    </div>
  </div>
  <!-- Tableau -->
  <p-table [value]="locations" [value]="filteredLocation" [rows]="10" [paginator]="true" [responsive]="true" [rowsPerPageOptions]="[5,10,20]">
    <!-- Entêtes de colonne -->
    <ng-template pTemplate="header">
      <tr>
       
        <th pSortableColumn="name">Nom <p-sortIcon field="name"></p-sortIcon></th>
       
        <th>Actions</th>
      </tr>
    </ng-template>
    <!-- Corps du tableau -->
    <ng-template pTemplate="body" let-location>
      <tr>
        
        <td>{{ location.name }}</td>
       
        <td>
          <!-- Bouton Modifier -->
          <button type="button" pButton icon="pi pi-pencil" label="Modifier" [routerLink]="['/majlocation', location.location_id]" routerLinkActive="router-link-active"></button>
          <!-- Bouton Supprimer -->
          <button type="button" pButton icon="pi pi-trash" label="Supprimer" (click)="confirmDeleteLocations(location)"></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
  