<div class="loading-overlay" *ngIf="isLoading">
  <p-progressSpinner *ngIf="isLoading" ariaLabel="chargement"></p-progressSpinner>
</div>
<div class="group-detail">
  
  <button (click)="printDocument()" class="btn-print">Print</button>
  <h2>User Details</h2>


  
    <div class="detail-row">
      <label>First Name: </label>
      <span>{{ user.FirstName }}</span>
    </div>
  
    <div class="detail-row">
      <label>Last Name: </label>
      <span>{{ user.LastName }}</span>
    </div>
  
    <div class="detail-row">
      <label>Email: </label>
      <span>{{ user.Email }}</span>
    </div>


    <div class="detail-row">
      <label>Username: </label>
      <span>{{ user.Username }}</span>
    </div>

  
    <div class="detail-row">
      <label>Role: </label>
      <span>{{ user.Role }}</span>
    </div>
  
    <div class="detail-row">
      <label>Active: </label>
      <span>{{ user.Active }}</span>
    </div>
  
  </div>
