<button (click)="printDocument()" class="btn-print">Print</button>

<div class="user-detail">
    <h2>User Details</h2>
  
    <div class="detail-row">
      <label>First Name: </label>
      <span>{{ user.FirstName }}</span>
    </div>
  
    <div class="detail-row">
      <label>Last Name: </label>
      <span>{{ user.LastName }}</span>
    </div>
  
    <div class="detail-row">
      <label>Email: </label>
      <span>{{ user.Email }}</span>
    </div>
  
    <div class="detail-row">
      <label>Username: </label>
      <span>{{ user.Username }}</span>
    </div>

  
    <div class="detail-row">
      <label>Role: </label>
      <span>{{ user.Role }}</span>
    </div>
  
    <div class="detail-row">
      <label>Active: </label>
      <span>{{ user.Active }}</span>
    </div>
  
    <div class="detail-row">
      <label>Created On: </label>
      <span>{{ user.CreatedOn }}</span>
    </div>
  
    <div class="detail-row">
      <label>Created By: </label>
      <span>{{ user.CreatedBy }}</span>
    </div>
  
    <div class="detail-row">
      <label>Modified On: </label>
      <span>{{ user.ModifiedOn }}</span>
    </div>
  
    <div class="detail-row">
      <label>Modified By: </label>
      <span>{{ user.ModifiedBy }}</span>
    </div>
  </div>
  