<div class="loading-overlay" *ngIf="isLoading">
  <p-progressSpinner *ngIf="isLoading" ariaLabel="chargement"></p-progressSpinner>
</div>
<div class="group-detail">
  
  <button (click)="printDocument()" class="btn-print">Imprimer</button>
  <h2>Les détails d'un utilisateur</h2>


  
    <div class="detail-row">
      <label>Prenom: </label>
      <span>{{ user.FirstName }}</span>
    </div>
  
    <div class="detail-row">
      <label>Nom: </label>
      <span>{{ user.LastName }}</span>
    </div>
  
    <div class="detail-row">
      <label>Email: </label>
      <span>{{ user.Email }}</span>
    </div>


    <div class="detail-row">
      <label>Nom d'utilisateur: </label>
      <span>{{ user.Username }}</span>
    </div>

  
    <div class="detail-row">
      <label>Role: </label>
      <span>{{ user.Role }}</span>
    </div>
  
    <div class="detail-row">
      <label>Active: </label>
      <span>{{ user.Active }}</span>
    </div>
  
  </div>
