.cancel-button {
    background-color: red; /* Couleur pour le bouton Annuler */
  }
  
  .close-button {
    background-color: orange; /* Couleur pour le bouton Cloture */
  }
  
  .resolve-button {
    background-color: green; /* Couleur pour le bouton Resolu */
  }
  