.container {
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: 'Roboto', sans-serif;
}

h2 {
  margin-bottom: 20px;
  color: #333;
  font-size: 24px;
  border-bottom: 2px solid #007ad9;
  padding-bottom: 10px;
}

.filters {
  margin-bottom: 20px;
  display: flex;
  gap: 10px;
}

.filters .p-button {
  font-size: 14px;
  padding: 8px 12px;
  background-color: #007ad9;
  color: #fff;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.filters .p-button:hover {
  background-color: #005fa3;
}

.p-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
}

.p-table th, .p-table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #e0e0e0;
}

.p-table th {
  background-color: #007ad9;
  color: #ffffff;
}

.p-table tr:hover {
  background-color: #f1f1f1;
  transition: background-color 0.3s;
}

.p-table tr:nth-child(even) {
  background-color: #f9f9f9;
}
.container {
  .filters {
    margin-bottom: 20px;
    button.active-filter {
      background-color: #007ad9;
      color: #fff;
    }
  }
  .tickets-table {
    .status-annuler {
      background-color: #f8d7da; // Couleur de fond pour les interventions annulées
      color: #721c24; // Couleur de texte pour les interventions annulées
    }
    .status-cloture {
      background-color: #d4edda;
    }
    .status-resolu {
      background-color: #fff3cd;
    }
  }
}



/* Styles personnalisés pour les boutons */
.annuler-button {
  background-color: #ff4d4d; /* Rouge */
  border-color: #ff4d4d;
  color: white;

  &:hover {
    background-color: #ff3333;
    border-color: #ff3333;
  }
}

.cloture-button {
  background-color: #4dff4d; /* Vert */
  border-color: #4dff4d;
  color: white;

  &:hover {
    background-color: #33ff33;
    border-color: #33ff33;
  }
}

.resolu-button {
  background-color: #ffff4d; /* Jaune */
  border-color: #ffff4d;
  color: black;

  &:hover {
    background-color: #ffff33;
    border-color: #ffff33;
  }
}
