<div class="container">
    <h2>Historique des Interventions</h2>
    <div class="filters p-grid p-align-center">
      <button pButton type="button" label="Annuler" (click)="filterByStatus('Annuler')"></button>
      <button pButton type="button" label="Cloture" (click)="filterByStatus('cloture')"></button>
      <button pButton type="button" label="Resolu" (click)="filterByStatus('resolu')"></button>
      <!-- Ajoutez d'autres boutons si nécessaire -->
    </div>
    <p-table [value]="archiveTickets">
      <ng-template pTemplate="header">
        <tr>
          <th>Numéro</th>
          <th>Sujet</th>
          <th>Description</th>
          <th>Statut</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-ticket>
        <tr>
          <td>{{ ticket.TicketID }}</td>
          <td>{{ ticket.Subject }}</td>
          <td>{{ ticket.Description }}</td>
          <td>{{ ticket.StatusCodeID }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  