<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="grid">
  <div class="col-12">
    <div class="card px-6 py-6">
      <p-toast></p-toast>
      <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
          <button pButton pRipple label="Ajouter une pièce" icon="pi pi-plus" class="p-button-success mr-2" [routerLink]="['/addpiece']" routerLinkActive="router-link-active"></button>
        </ng-template>
        <ng-template pTemplate="right">
          <div class="search-box ml-auto">
            <i class="pi pi-search"></i>
            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Rechercher..." class="w-full sm:w-auto" />
          </div>
        </ng-template>
      </p-toolbar>

      <p-table #dt [value]="pieces" [columns]="cols" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['image_piece','nom_piece','description','material','serial_number','cost','fournisseur_id']" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Affichage de {first} à {last} sur {totalRecords} entrées" selectionMode="multiple" [rowHover]="true" dataKey="id">
        <ng-template pTemplate="caption">
          <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
            <h5 class="m-0">Gérer les pièces</h5>
          </div>
        </ng-template>

      <!-- Tableau -->
        <!-- Entêtes de colonne -->
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="image_piece">Image</th>
            <th pSortableColumn="nom_piece">Nom <p-sortIcon field="nom_piece"></p-sortIcon></th>
            <th pSortableColumn="description">Description <p-sortIcon field="description"></p-sortIcon></th>
            <th pSortableColumn="material">Matériau <p-sortIcon field="material"></p-sortIcon></th>
            <th pSortableColumn="serial_number">Numéro de série <p-sortIcon field="serial_number"></p-sortIcon></th>
            <th pSortableColumn="cost">Coût <p-sortIcon field="cost"></p-sortIcon></th>
            <th pSortableColumn="fournisseur_id">Nom du fournisseur <p-sortIcon field="fournisseur_id"></p-sortIcon></th>
            <th>Actions</th>
          </tr>
        </ng-template>
        <!-- Corps du tableau -->
        <ng-template pTemplate="body" let-piece>
          <tr>
            <td><img [src]="piece.image_url" alt="Image de la pièce" width="150" height="150"></td>
            <td>{{ piece.nom_piece }}</td>
            <td>{{ piece.description }}</td>
            <td>{{ piece.material }}</td>
            <td>{{ piece.serial_number }}</td>
            <td>{{ piece.cost }}</td>
            <td>{{ piece.fournisseurs[0].nom_fournisseur }}</td>
            <td>
              <!-- Bouton Modifier -->
              <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" [routerLink]="['/majpiece', piece.piece_id]" routerLinkActive="router-link-active"></button>
              <!-- Bouton Supprimer -->
              <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="confirmDeletePiece(piece)"></button>
            </td>

          </tr>
        </ng-template>
        
        <ng-template pTemplate="emptymessage">
          <tr>
              <td colspan="3">Aucune pièce trouvée.</td>
          </tr>
        </ng-template>
      </p-table>
