<form [formGroup]="stockForm" (ngSubmit)="onSubmit()">
    <div class="p-fluid">
      <div class="p-field">
        <label for="nom_piece">Nom de la pièce</label>
        <input id="nom_piece" type="text" pInputText formControlName="nom_piece" [class.ng-invalid]="stockForm.get('nom_piece').invalid && stockForm.get('nom_piece').touched">
        <small *ngIf="stockForm.get('nom_piece').invalid && stockForm.get('nom_piece').touched" class="p-error">Nom de la pièce est requis</small>
      </div>

      <div class="p-field description-field">
        <label for="description">Description de la pièce</label>
        <textarea id="description" pInputTextarea formControlName="description" [class.ng-invalid]="stockForm.get('description').invalid && stockForm.get('description').touched"></textarea>
        <small *ngIf="stockForm.get('description').invalid && stockForm.get('description').touched" class="p-error">Description de la pièce est requise</small>
    </div>
    

    
      <div class="p-field">
        <label for="quantite">Quantité</label>
        <input id="quantite" type="number" pInputNumber formControlName="quantite" [class.ng-invalid]="stockForm.get('quantite').invalid && stockForm.get('quantite').touched">
        <small *ngIf="stockForm.get('quantite').invalid && stockForm.get('quantite').touched" class="p-error">Quantité est requise</small>
      </div>
      <div class="p-field">
        <label for="quantite_reservee">Quantité réservée</label>
        <input id="quantite_reservee" type="number" pInputNumber formControlName="quantite_reservee" [class.ng-invalid]="stockForm.get('quantite_reservee').invalid && stockForm.get('quantite_reservee').touched">
        <small *ngIf="stockForm.get('quantite_reservee').invalid && stockForm.get('quantite_reservee').touched" class="p-error">Quantité réservée est requise</small>
      </div>
      <div class="p-field">
        <label for="seuil_min">Seuil minimum</label>
        <input id="seuil_min" type="number" pInputNumber formControlName="seuil_min" [class.ng-invalid]="stockForm.get('seuil_min').invalid && stockForm.get('seuil_min').touched">
        <small *ngIf="stockForm.get('seuil_min').invalid && stockForm.get('seuil_min').touched" class="p-error">Seuil minimum est requis</small>
      </div>
      <div class="p-field">
        <label for="seuil_max">Seuil maximum</label>
        <input id="seuil_max" type="number" pInputNumber formControlName="seuil_max" [class.ng-invalid]="stockForm.get('seuil_max').invalid && stockForm.get('seuil_max').touched">
        <small *ngIf="stockForm.get('seuil_max').invalid && stockForm.get('seuil_max').touched" class="p-error">Seuil maximum est requis</small>
      </div>
      <div class="p-field">
        <label for="fournisseur_id">ID du fournisseur</label>
        <input id="fournisseur_id" type="number" pInputNumber formControlName="fournisseur_id" [class.ng-invalid]="stockForm.get('fournisseur_id').invalid && stockForm.get('fournisseur_id').touched">
        <small *ngIf="stockForm.get('fournisseur_id').invalid && stockForm.get('fournisseur_id').touched" class="p-error">ID du fournisseur est requis</small>
      </div>

      <div class="p-field image-upload-container">
        <label for="image_piece" class="image-upload-label">Choisir une image</label>
        <input id="image_piece" type="file" (change)="onImageChange($event)" accept="image/*" [class.ng-invalid]="stockForm.get('image_piece').invalid && stockForm.get('image_piece').touched">
        <!-- Utilisez une balise <img> pour afficher l'aperçu de l'image -->
        <img *ngIf="stockForm.get('image_piece').value" [src]="getImagePreview()" alt="Preview" class="image-preview">
        <small *ngIf="stockForm.get('image_piece').invalid && stockForm.get('image_piece').touched" class="p-error">Image de la pièce est requise</small>
      </div>
      
      
      
      <div class="p-field">
        <button type="submit" pButton label="Créer"></button>
      </div>
    </div>
  </form>
  