<!--h2>Mettre à jour le groupe</h2>
<form (ngSubmit)="updateGroupe()" #updategrpForm="ngForm">

  <div class="form-group">
    <label for="GroupName">Nom</label>
    <input type="text" class="form-control" id="GroupName" name="GroupName" [(ngModel)]="groupe.GroupName" required>
  </div>
  <div class="form-group">
    <label for="Description">Email</label>
    <input type="text" class="form-control" id="Description" name="Description" [(ngModel)]="groupe.Description" required>
  </div>
 
  <button type="submit" class="btn btn-primary">Mettre à jour</button>
</form-->

