<form  (ngSubmit)="updateGroupe()" class="update-form p-fluid p-grid">
  <p-toast></p-toast>
  <h2 class="form-title">Modifier un groupe</h2>

  <div class="form-field p-col-12 p-md-6">
    <label for="GroupName">Nom:</label>
  <input type="text" class="form-control" id="GroupName" name="GroupName" [(ngModel)]="groupe.GroupName" required>
  </div>

  <div class="form-field p-col-12 p-md-6">
    <label for="Description">Description:</label>
  <input type="text" class="form-control" id="Description" name="Description" [(ngModel)]="groupe.Description" required>
  </div>

<div class="form-field p-col-12">
  <button type="submit" pButton icon="pi pi-save" class="btn-primary">Mettre à jour</button>
</div>
<div class="form-field p-col-12">
  <button type="button" (click)="onCancel()" pButton icon="pi pi-times" class="btn-secondary">Annuler</button>
</div>
</form>

