<div class="container">
  <form [formGroup]="stockForm" (ngSubmit)="onSubmit()" class="update-form p-fluid p-grid">
    <p-toast></p-toast>
    <h2 class="form-title"> Modifier un stock</h2>
    <div class="form-field p-col-12 p-md-6">
      <label for="pieceSelect">Sélectionner une pièce :</label>
      <p-dropdown 
        id="pieceSelect" 
        [options]="pieces" 
        optionLabel="nom_piece" 
        optionValue="piece_id" 
        placeholder="Sélectionner un équipement"
        formControlName="piece_id" 
        [style]="{ width: '100%' }">
      </p-dropdown>
    </div>
    <div class="form-field p-col-12 p-md-6">
      <label for="equipementSelect">Sélectionner un équipement :</label>
      <p-dropdown 
        id="equipementSelect" 
        [options]="equipements" 
        optionLabel="TypeName" 
        optionValue="EquipmentTypeID" 
        placeholder="Sélectionner une equipement"
        formControlName="equipment_id" 
        [style]="{ width: '100%' }">
      </p-dropdown>
    </div>


    <div class="form-field p-col-12 p-md-6">
      <label for="quantity">Quantité :</label>
      <input type="number" id="quantity" formControlName="quantity" pInputNumber class="p-inputtext">
    </div>
    <div class="form-field p-col-12 p-md-6">
      <label for="reserved_quantity">Quantité réservée :</label>
      <input type="number" id="reserved_quantity" formControlName="reserved_quantity" pInputNumber class="p-inputtext">
    </div>
  
    <div class="form-field p-col-12 p-md-6">
      <label for="local">Local :</label>
      <input type="text" id="local" formControlName="local" pInputText class="p-inputtext">
    </div>
 
    <div class="form-field p-col-12">
      <button type="submit" [disabled]="stockForm.invalid" class="btn-primary">Modifier stock</button>
    </div>   
    <div class="form-field p-col-12">
      <button type="button" (click)="onCancel()"  class="btn-secondary">Annuler</button>
    </div>
  </form>
</div>
