<div class="container">
  <h2>Modifier le stock</h2>
  <form [formGroup]="stockForm" (ngSubmit)="onSubmit()" class="p-fluid form-grid">
    
    <div class="p-field p-col-12 p-md-6">
      <label for="pieceSelect">Sélectionner une pièce :</label>
      <p-dropdown 
        id="pieceSelect" 
        [options]="pieces" 
        optionLabel="nom_piece" 
        optionValue="piece_id" 
        placeholder="Sélectionner un équipement"
        formControlName="piece_id" 
        [style]="{ width: '100%' }">
      </p-dropdown>
    </div>
    <div class="p-field p-col-12 p-md-6">
      <label for="equipementSelect">Sélectionner une equipement :</label>
      <p-dropdown 
        id="equipementSelect" 
        [options]="equipements" 
        optionLabel="TypeName" 
        optionValue="EquipmentTypeID" 
        placeholder="Sélectionner une equipement"
        formControlName="equipment_id" 
        [style]="{ width: '100%' }">
      </p-dropdown>
    </div>


    <div class="p-field p-col-12 p-md-6">
      <label for="quantity">Quantité :</label>
      <input type="number" id="quantity" formControlName="quantity" pInputNumber class="p-inputtext">
    </div>
    <div class="p-field p-col-12 p-md-6">
      <label for="reserved_quantity">Quantité réservée :</label>
      <input type="number" id="reserved_quantity" formControlName="reserved_quantity" pInputNumber class="p-inputtext">
    </div>
  
    <div class="p-field p-col-12 p-md-12">
      <label for="local">Local :</label>
      <input type="text" id="local" formControlName="local" pInputText class="p-inputtext">
    </div>
 
    <div class="p-col-12 p-mt-2 p-button-group">
      <button type="submit" [disabled]="isLoading" pButton label="Enregistrer" class="p-button p-button-primary"></button>
      <a routerLink="/stocks" pButton label="Annuler" class="p-button p-button-secondary"></a>
    </div>
  </form>
</div>
