<ngx-spinner bdOpacity="0.9" bdColor="rgba(51,51,51,0.5)" size="medium" color="#fff" type="ball-scale-multiple" [fullScreen]="true"></ngx-spinner>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="grid">
  <div class="col-12">
    <div class="card px-6 py-6">
      <p-toast></p-toast>
      <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
          <button pButton pRipple label="Ajouter une sociéte" icon="pi pi-plus" class="p-button-success mr-2" [routerLink]="['/addsociete']" routerLinkActive="router-link-active"></button>
        </ng-template>
        <ng-template pTemplate="right">
          <div class="search-box ml-auto">
            <i class="pi pi-search"></i>
            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Rechercher..." class="w-full sm:w-auto" />
          </div>
        </ng-template>
      </p-toolbar>

      <p-table #dt [value]="societes" [columns]="cols" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['name','address','country','phone','email','website']" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Affichage de {first} à {last} sur {totalRecords} entrées" selectionMode="multiple" [rowHover]="true" dataKey="id">
        <ng-template pTemplate="caption">
          <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
            <h5 class="m-0">Gérer les sociétes</h5>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="name">Nom <p-sortIcon field="name"></p-sortIcon></th>
          <th pSortableColumn="address">Adresse <p-sortIcon field="address"></p-sortIcon></th>
          <th pSortableColumn="country">Ville <p-sortIcon field="country"></p-sortIcon></th>
          <th pSortableColumn="phone">Télephone <p-sortIcon field="phone"></p-sortIcon></th>
          <th pSortableColumn="email">Email <p-sortIcon field="email"></p-sortIcon></th>
          <th pSortableColumn="website">Site Web<p-sortIcon field="website"></p-sortIcon></th>
          <th>Actions</th>
        </tr>
      </ng-template>
      <!-- Corps du tableau -->
      <ng-template pTemplate="body" let-societe>
        <tr>
          
          <td>{{ societe.name }}</td>
          <td>{{ societe.address }}</td>
          <td>{{ societe.country }}</td>
          <td>{{ societe.phone }}</td>
          <td>{{ societe.email }}</td>
          <td>{{ societe.website }}</td>
          
          <td>
           
            <button pButton pRipple icon="pi pi-eye"  class="p-button-rounded p-button-info mr-2" [routerLink]="['/societedetails', societe.SocieteID]" routerLinkActive="router-link-active"></button>
            <div>
             <button pButton pRipple icon="pi pi-pencil"  class="p-button-rounded p-button-success mr-2"[routerLink]="['/updatesociete',societe.SocieteID]"routerLinkActive="router-link-active"></button>
            <!-- Bouton Supprimer -->
            </div><button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"(click)="confirmDeleteSocietes(societe)"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
    