
<h2>Mettre à jour un utilisateur</h2>
<form (ngSubmit)="updateEquipmentType()" #updateForm="ngForm">
  <div class="form-group">
    <label for="TypeName">Prénom</label>
    <input type="text" class="form-control" id="TypeName" name="TypeName" [(ngModel)]="equipementtype.TypeName" required>
  </div>
  <div class="form-group">
    <label for="Description">Description</label>
    <input type="text" class="form-control" id="Description" name="Description" [(ngModel)]="equipementtype.Description" required>
  </div>
  <div class="form-group">
    <label for="Manufacturer">Manufacturer</label>
    <input type="text" class="form-control" id="Manufacturer" name="Manufacturer" [(ngModel)]="equipementtype.Manufacturer" required>
  </div>
  <div class="form-group">
    <label for="ModelNumber">Model Number</label>
    <input type="text" class="form-control" id="ModelNumber" name="ModelNumber" [(ngModel)]="equipementtype.ModelNumber" required>
  </div>
  <div class="form-group">
    <label for="SerialNumber">Serial Number</label>
    <input type="text" class="form-control" id="SerialNumber" name="SerialNumber" [(ngModel)]="equipementtype.SerialNumber" required>
  </div>
  <button type="submit" class="btn btn-primary">Mettre à jour</button>
</form>
