<!-- update-equipment-form.component.html -->
<form [formGroup]="updateForm" (ngSubmit)="updateEquipmentType()" class="update-form p-fluid p-grid">
  <p-toast></p-toast>
  
  <h2 class="p-col-12">Mettre à jour un équipement</h2>
  
  <div class="form-field p-col-12 p-md-6">
      <label for="TypeName">Prénom</label>
      <input type="text" id="TypeName" formControlName="TypeName" pInputText>
  </div>

  <div class="form-field p-col-12">
      <label for="Description">Description</label>
      <textarea id="Description" formControlName="Description" pInputTextarea rows="5"></textarea>
  </div>

  <div class="form-field p-col-12 p-md-6">
      <label for="Manufacturer">Fabricant</label>
      <input type="text" id="Manufacturer" formControlName="Manufacturer" pInputText>
  </div>

  <div class="form-field p-col-12 p-md-6">
      <label for="ModelNumber">Numéro de modèle</label>
      <input type="text" id="ModelNumber" formControlName="ModelNumber" pInputText>
  </div>

  <div class="form-field p-col-12 p-md-6">
      <label for="SerialNumber">Numéro de série</label>
      <input type="text" id="SerialNumber" formControlName="SerialNumber" pInputText>
  </div>

  <div class="form-field p-col-12">
      <button type="submit" [disabled]="updateForm.invalid" pButton >Mettre à jour</button>
  </div>
  <div class="form-field p-col-12">
    <button type="submit" pButton icon="pi pi-save" class="btn-primary">Mettre à jour</button>
  </div>
  <div class="form-field p-col-12">
    <button type="submit" [disabled]="updateForm.invalid" pButton >Mettre à jour</button>
</div>
</form>
