<!-- equipment-form.component.html -->
<form [formGroup]="equipmentForm" (ngSubmit)="onSubmit()" class="update-form p-fluid p-grid">
    <p-toast></p-toast>
    <h2 class="form-title">Ajouter un équipement</h2>
    
    <div class="form-field p-col-12 p-md-6">
        <label for="TypeName">Nom de l'Equipement :</label>
        <input type="text" id="TypeName" formControlName="TypeName" pInputText>
    </div>

    <div class="form-field p-col-12">
        <label for="Description">Description :</label>
        <textarea id="Description" formControlName="Description" pInputTextarea rows="5"></textarea>
    </div>

    <div class="form-field p-col-12 p-md-6">
        <label for="Manufacturer">Fabricant :</label>
        <input type="text" id="Manufacturer" formControlName="Manufacturer" pInputText>
    </div>

    <div class="form-field p-col-12 p-md-6">
        <label for="ModelNumber">Numéro de Modèle :</label>
        <input type="text" id="ModelNumber" formControlName="ModelNumber" pInputText>
    </div>

    <div class="form-field p-col-12 p-md-6">
        <label for="SerialNumber">Numéro de Série :</label>
        <input type="text" id="SerialNumber" formControlName="SerialNumber" pInputText>
    </div>

    <div class="form-field p-col-12 p-md-6">
        <label for="InstallationDate">Date d'Installation :</label>
        <input type="date" id="InstallationDate" formControlName="InstallationDate" pInputText>
    </div>

    <div class="form-field p-col-12 p-md-6">
        <label for="WarrantyExpiration">Expiration de la Garantie :</label>
        <input type="date" id="WarrantyExpiration" formControlName="WarrantyExpiration" pInputText>
    </div>
<div class="form-field p-col-12">
    <button type="submit" [disabled]="equipmentForm.invalid" class="btn-primary">Ajouter un equipement</button>
</div>
<div class="form-field p-col-12">
    <button type="button" (click)="onCancel()" pButton icon="pi pi-times" class="btn-secondary">Annuler</button>
</div>

</form>
