<div class="container">
    <h2>Modifier local</h2>
  
    <form [formGroup]="localForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name">Nom du local</label>
        <input type="text" formControlName="name" class="form-control">
      </div>
   
      <!-- Ajoutez d'autres champs du formulaire ici -->
  
      <button type="submit" [disabled]="isLoading" class="btn btn-primary">Enregistrer</button>
      <a routerLink="/location" class="btn btn-secondary">Annuler</a>
    </form>
  </div>
  