<div class="container">
    
  
    <form [formGroup]="localForm" (ngSubmit)="onSubmit()" class="add-location-form p-fluid p-grid">
      <h2 class="form-title">Modifier local</h2>
      <p-toast></p-toast>
      <div class="form-field p-col-12">
        <label for="name">Nom du local</label>
        <input type="text" formControlName="name" class="form-control">
      </div>
   
      <!-- Ajoutez d'autres champs du formulaire ici -->
      <div class="form-field p-col-12">
        <button type="submit" [disabled]="localForm.invalid" class="btn-primary">Modifier</button>
    </div>
    <div class="form-field p-col-12">
        <button type="button" (click)="onCancel()" class="btn-secondary">Annuler</button>
    </div>
    </form>
  </div>
  