<div class="group-detail">
    <button (click)="printDocument()" class="btn-print">Imprimer</button>
    <h2>Les détails d'une intervention</h2>
  
    <div class="detail-row">
      <label>Sujet: </label>
      <span>{{ ticket.Subject }}</span>
    </div>
  
    <div class="detail-row">
      <label>Description: </label>
      <span>{{ ticket.Description }}</span>
    </div>
  
    <div class="detail-row">
      <label>Priorité: </label>
      <span>{{ ticket.PriorityID }}</span>
    </div>
  
    <div class="detail-row">
      <label>Statut: </label>
      <span>{{ ticket.StatusCodeID }}</span>
    </div>
  
    <div class="detail-row">
      <label>Assigné à: </label>
      <span>{{ ticket.AssigneeID  }}</span>
    </div>
  
    <div class="detail-row">
      <label>Equipment: </label>
      <span>{{ ticket.EquipmentTypeID   }}</span>
    </div>
  

  </div>
  