<!--<form [formGroup]="userstechForm" (ngSubmit)="onSubmit()" class="user-form">
    <div class="form-field">
        <label for="UserID">User:</label>
        <p-dropdown id="UserID" formControlName="UserID" [options]="usertech.UserID" optionLabel="UserName"></p-dropdown>
    </div>
    <div class="form-field">
        <label for="GroupID">Group:</label>
        <p-dropdown id="GroupID" formControlName="GroupID" [options]="groups" optionLabel="GroupName"></p-dropdown>
    </div>
    
    <button type="submit" [disabled]="userstechForm.invalid">Add Ticket Status</button>
</form-->
