<div>
    <h2>Ajouter un utilisateur à un groupe</h2>
    <form (ngSubmit)="assignUserToGroup()">
      <div>
        <label for="groupSelect">Sélectionner un groupe :</label>
        <select id="groupSelect" [(ngModel)]="selectedGroupe" name="groupSelect">
          <option value="">Sélectionner un groupe</option>
          <option *ngFor="let groupe of groupes" [value]="groupe.GroupID">{{ groupe.GroupName }}</option>
        </select>
      </div>
      <div>
        <label for="userSelect">Sélectionner un utilisateur :</label>
        <select id="userSelect" [(ngModel)]="selectedUser" name="userSelect">
          <option value="">Sélectionner un utilisateur</option>
          <option *ngFor="let user of users" [value]="user.UserID">{{ user.Username }}</option>
        </select>
      </div>
      <button type="submit" [disabled]="!selectedGroupe || !selectedUser">Assigner</button>
    </form>
  </div>
  