<div>
    <h2>Liste des groupes</h2>
    <select (change)="onGroupeSelected($event.target.value)">
      <option value="">Sélectionner un groupe</option>
      <option *ngFor="let groupe of groupes" [ngValue]="groupe">{{ groupe.GroupName }}</option>
    </select>
    <div *ngIf="selectedGroupe">
      <h3>Groupe sélectionné :</h3>
      <p>ID: {{ selectedGroupe.GroupID }}</p>
      <p>Nom: {{ selectedGroupe.GroupName }}</p>
      <p>Description: {{ selectedGroupe.Description }}</p>
      <!-- Ajoutez ici d'autres champs que vous souhaitez afficher -->
    </div>
    <h2>Liste des utilisateurs</h2>
    <select (change)="onUserSelected($event.target.value)">
      <option value="">Sélectionner un groupe</option>
      <option *ngFor="let users of user" [ngValue]="users">{{ users.Username }}</option>
    </select>
    <div *ngIf="selectedGroupe">
      <h3>Groupe sélectionné :</h3>
      <p>ID: {{ selectedGroupe.GroupID }}</p>
      <p>Nom: {{ selectedGroupe.GroupName }}</p>
      <p>Description: {{ selectedGroupe.Description }}</p>
      <!-- Ajoutez ici d'autres champs que vous souhaitez afficher -->
    </div>
  </div>
  