<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" routerLink="/addcommande"></button>
                        <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedProducts()" [disabled]="!selectedProducts || !selectedProducts.length"></button>
                    </div>
                </ng-template>
  
                <ng-template pTemplate="right">
                    <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="mr-2 inline-block"></p-fileUpload>
                    <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help" (click)="dt.exportCSV()"></button>
                </ng-template>
            </p-toolbar>
  
            <p-table [value]="Commandes" [value]="filteredCommandes" [rows]="10" [paginator]="true" [responsive]="true" [rowsPerPageOptions]="[5,10,20]">              <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Gérer les commandes</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..."  class="w-full sm:w-auto"/>
                        </span>
                    </div>
                </ng-template>
  <div class="row">
      <div class="col-md-6">
        <input type="text" pInputText placeholder="Rechercher" (input)="filter($event.target.value)" class="search-input">
      </div>
      <div class="col-md-6">
        <button pButton type="button" icon="pi pi-plus" class="p-button-raised p-button-success" routerLink="/addutilisation">
          Ajouter une Commande
        </button>
      </div>
    </div>
    <!-- Tableau -->
    
      <!-- Entêtes de colonne -->
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 3rem">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox></th>
            <th pSortableColumn="nom_piece">
                Pièce <p-sortIcon field="nom_piece"></p-sortIcon>
              </th>
              <th pSortableColumn="requested_quantity">
                Quantité utilisée <p-sortIcon field="requested_quantity"></p-sortIcon>
              </th>
              <th pSortableColumn="order_date">
                Date d'utilisation <p-sortIcon field="order_date"></p-sortIcon>
              </th>
              <th pSortableColumn="order_status">
                Description <p-sortIcon field="order_status"></p-sortIcon>
              </th>
              <th pSortableColumn="fournisseur_id">
                Fournisseur <p-sortIcon field="fournisseur_id"></p-sortIcon>
              </th>
              <th pSortableColumn="expected_delivery_date">
                Date de livraison prévue <p-sortIcon field="expected_delivery_date"></p-sortIcon>
              </th>
              <th pSortableColumn="actual_delivery_date">
                Date de livraison effective <p-sortIcon field="actual_delivery_date"></p-sortIcon>
              </th>
              
          <th>Actions</th>
        </tr>
      </ng-template>
      <!-- Corps du tableau -->
      <ng-template pTemplate="body" let-commande>
        <tr>
          <td>
              <p-tableCheckbox [value]="commande"></p-tableCheckbox>
          </td>
        <td>{{ commande.piece_id }}</td>  
        <td>{{ commande.requested_quantity }}</td>
          <td>{{ commande.order_date }}</td>
          <td>{{ commande.order_status }}</td>
          <td>{{ commande.fournisseur_id }}</td>
          
          <td>{{ commande.expected_delivery_date }}</td>
          <td>{{ commande.actual_delivery_date }}</td>

          <td>
            <!-- Bouton Modifier -->
            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"  [routerLink]="['/updatecommande', commande.commande_id]" routerLinkActive="router-link-active"></button>
            <!-- Bouton Supprimer -->
            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="confirmDeleteutilisation(commande)"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
   