<ngx-spinner bdOpacity="0.9" bdColor="rgba(51,51,51,0.5)" size="medium" color="#fff" type="ball-scale-multiple" [fullScreen]="true"></ngx-spinner>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="grid">
  <div class="col-12">
    <div class="card px-6 py-6">
      <p-toast></p-toast>
      <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
          <button pButton pRipple label="Ajouter une commande" icon="pi pi-plus" class="p-button-success mr-2" [routerLink]="['/addcommande']" routerLinkActive="router-link-active"></button>
        </ng-template>
        <ng-template pTemplate="left">
          <div class="my-2">
              <button pButton pRipple label="Ajouter une commande" icon="pi pi-plus" class="p-button-success mr-2" routerLink="/addcommande"></button>
          </div>
      </ng-template>
      <ng-template pTemplate="right">
        <div class="search-box ml-auto">
          <i class="pi pi-search"></i>
          <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Rechercher..." class="w-full sm:w-auto" />
        </div>
      </ng-template>
      </p-toolbar>

      <p-table #dt [value]="Commandes" [columns]="cols" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['piece_id','requested_quantity','order_date','order_status','fournisseur_id','expected_delivery_date','actual_delivery_date']" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Affichage de {first} à {last} sur {totalRecords} entrées" selectionMode="multiple" [rowHover]="true" dataKey="id">
        <ng-template pTemplate="caption">
          <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
            <h5 class="m-0">Gérer les commandes</h5>
          </div>
        </ng-template>
    <!-- Tableau -->
    
      <!-- Entêtes de colonne -->
      <ng-template pTemplate="header">
        <tr>
      
            <th pSortableColumn="nom_piece">
                Pièce <p-sortIcon field="nom_piece"></p-sortIcon>
              </th>
              <th pSortableColumn="requested_quantity">
                Quantité utilisée <p-sortIcon field="requested_quantity"></p-sortIcon>
              </th>
              <th pSortableColumn="order_date">
                Date d'utilisation <p-sortIcon field="order_date"></p-sortIcon>
              </th>
              <th pSortableColumn="order_status">
                Description <p-sortIcon field="order_status"></p-sortIcon>
              </th>
              <th pSortableColumn="fournisseur_id">
                Fournisseur <p-sortIcon field="fournisseur_id"></p-sortIcon>
              </th>
              <th pSortableColumn="expected_delivery_date">
                Date de livraison prévue <p-sortIcon field="expected_delivery_date"></p-sortIcon>
              </th>
              <th pSortableColumn="actual_delivery_date">
                Date de livraison effective <p-sortIcon field="actual_delivery_date"></p-sortIcon>
              </th>
              
          <th>Actions</th>
          <th></th>
        </tr>
      </ng-template>
      <!-- Corps du tableau -->
      <ng-template pTemplate="body" let-commande>
        <tr>
          
        <td>{{ commande.piece.nom_piece}}</td>  
        <td>{{ commande.requested_quantity }}</td>
          <td>{{ commande.order_date }}</td>
          <td>{{ commande.order_status }}</td>
          <td>{{ commande.fournisseur.nom_fournisseur }}</td>
          
          <td>{{ commande.expected_delivery_date }}</td>
          <td>{{ commande.actual_delivery_date }}</td>

          <td>
              <!-- Si le statut de la commande est "en_attente" -->
              <ng-container *ngIf="commande.order_status === 'en_attente'">
                <!-- Bouton Annuler -->
                <button pButton pRipple icon="pi pi-times" class="p-button-rounded p-button-danger mr-2" (click)="annulerCommande(commande)"></button>
                <!-- Bouton Confirmer -->
                <button pButton pRipple icon="pi pi-check" class="p-button-rounded p-button-success" (click)="confirmerCommande(commande)"></button>
              </ng-container>
            
            <!-- Si le statut de la commande n'est pas "en_attente" -->
            <ng-container *ngIf="commande.order_status !== 'en_attente'">
              <!-- Afficher un bouton désactivé avec une classe spécifique -->
              <button pButton pRipple icon="pi pi-times" class="p-button-rounded p-button-disabled" disabled></button>
            </ng-container>
          </td>

          <td>
            <!-- Si le lien vers le PDF de la facture est disponible -->
            <ng-container *ngIf="commande.pdf_link">
                <!-- Bouton pour consulter le facture -->
                <button pButton type="button" icon="pi pi-file" class="p-button-rounded p-button-info" title="Consulter le facture" (click)="consulterFacture(commande.pdf_link)"></button>
            </ng-container>
        
            <!-- Si le lien vers le PDF de la facture n'est pas disponible -->
            <ng-container *ngIf="!commande.pdf_link">
                <!-- Afficher un bouton désactivé avec une classe spécifique -->
                <button pButton type="button" icon="pi pi-file" class="p-button-rounded p-button-disabled" disabled></button>
            </ng-container>
        </td>
        
        
          
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="8">Aucune commande trouvée.</td>
        </tr>
      </ng-template>
    </p-table>
   