.surface-ground {
  background-color: #f4f4f4;
}

.min-h-screen {
  min-height: 100vh;
}

.min-w-screen {
  min-width: 100vw;
}

.surface-card {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.alert {
  padding: 1rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.text-center {
  text-align: center;
}

.mb-5 {
  margin-bottom: 1.5rem;
}

.form-control {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 0.5rem;

  &:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
}

.text-danger {
  color: #dc3545;
  font-size: 0.875rem;
  margin-top: 0.25rem;
}

.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

button.p-button-primary {
  margin: 0 0.5rem;
  width: 50%;
  padding: 0.75rem;
}

.p-button-rounded {
  border-radius: 50px;
}

.p-button-primary {
  background-color: var(--primary-color);
  border: none;
  color: white;
  cursor: pointer;

  
}
