<ngx-spinner bdOpacity="0.9" bdColor="rgba(51,51,51,0.5)" size="medium" color="#fff" type="ball-scale-multiple" [fullScreen]="true"></ngx-spinner>

<!-- Your other content goes here -->
<div class="grid">
  <div class="col-12">
    <div class="card px-6 py-6">
      <p-toast></p-toast>
      <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
          <button pButton pRipple label="Ajouter un équipement" icon="pi pi-plus" class="p-button-success mr-2" [routerLink]="['/ajoutereq']" routerLinkActive="router-link-active"></button>
        </ng-template>
        <ng-template pTemplate="right">
          <div class="search-box ml-auto">
            <i class="pi pi-search"></i>
            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Rechercher..." class="w-full sm:w-auto" />
          </div>
        </ng-template>
      </p-toolbar>

      <p-table #dt [value]="equipments" [columns]="cols" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['TypeName','Description','ModelNumber','SerialNumber','InstallationDate']" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Affichage de {first} à {last} sur {totalRecords} entrées" selectionMode="multiple" [rowHover]="true" dataKey="id">
        <ng-template pTemplate="caption">
          <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
            <h5 class="m-0">Gérer les équipements</h5>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="TypeName">Nom de l'équipment <p-sortIcon field="TypeName"></p-sortIcon></th>
            <th pSortableColumn="Description">Description <p-sortIcon field="Description"></p-sortIcon></th>
            <th pSortableColumn="ModelNumber">Numéro de modèle <p-sortIcon field="ModelNumber"></p-sortIcon></th>
            <th pSortableColumn="SerialNumber">Numéro de série <p-sortIcon field="SerialNumber"></p-sortIcon></th>
            <th pSortableColumn="InstallationDate">Date d'installation <p-sortIcon field="InstallationDate"></p-sortIcon></th>
            <th>Actions</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-equipment>
          <tr>
            <td>{{ equipment.TypeName }}</td>
            <td>{{ equipment.Description }}</td>
            <td>{{ equipment.ModelNumber }}</td>
            <td>{{ equipment.SerialNumber }}</td>
            <td>{{ equipment.InstallationDate }}</td>
            <td>
              <div class="button-group">
                <button pButton pRipple icon="pi pi-eye" class="p-button-rounded p-button-info mr-2" [routerLink]="['/equipement-detail', equipment.EquipmentTypeID]" routerLinkActive="router-link-active"></button>
                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" [routerLink]="['/update-eq', equipment.EquipmentTypeID]" routerLinkActive="router-link-active"></button>
                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteEquipment(equipment.EquipmentTypeID)"></button>
              </div>
            </td>
            
            
        </ng-template>
      
        
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="8">Aucun équipement trouvé.</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
