<div class="card">
    <h5>Tâches Récemment Traitées</h5>
    <p-table [value]="recentTasks" [paginator]="true" [rows]="5" responsiveLayout="scroll">
        <ng-template pTemplate="header">
            <tr>
                <th>ID</th>
                <th pSortableColumn="task">Tâche <p-sortIcon field="task"></p-sortIcon></th>
                <th pSortableColumn="employee">Employé <p-sortIcon field="employee"></p-sortIcon></th>
                <th>Date</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-task>
            <tr>
                <td>{{ task.id }}</td>
                <td>{{ task.task }}</td>
                <td>{{ task.employee }}</td>
                <td>{{ task.date }}</td>
            </tr>
        </ng-template>
    </p-table>
</div>