<form [formGroup]="ticketTaskForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="subject">Identifiant Intervention : {{ticketId}}</label>
    <label for="technician">Technicien : {{username}}</label>
  </div>
  <div class="form-group">
    <label for="Subject">Sujet</label>
    <input id="Subject" formControlName="Subject" type="text" pInputText />
  </div>

  <div class="form-group">
    <label for="Description">Description</label>
    <textarea id="Description" formControlName="Description" pInputTextarea></textarea>
  </div>

  <div class="form-group" *ngIf="!ticketTaskForm.get('changeStatus').value">
    <label for="StartDate">Date et heure de début</label>
    <p-calendar id="StartDate" formControlName="StartDate" showTime="true" hourFormat="24"></p-calendar>
  </div>
  
  <div class="form-group" *ngIf="!ticketTaskForm.get('changeStatus').value">
    <label for="EndDate">Date et heure de fin</label>
    <p-calendar id="EndDate" formControlName="EndDate" showTime="true" hourFormat="24"></p-calendar>
  </div>
  
  
  <div class="form-group">
    <label>
      <input type="checkbox" formControlName="changeStatus"> Intervention terminée
    </label>
  </div>
  

  <div class="form-buttons">
    <button pButton type="submit" label="Enregistrer"></button>
    <button pButton type="button" label="Annuler" class="p-button-secondary" (click)="onCancel()"></button>
  </div>
</form>
