<h2>Mettre à jour un Intervention</h2>

<form (ngSubmit)="updateTicket()" #updateForm="ngForm">
 
  <div class="form-group">
    <label for="Subject">Sujet</label>
    <input type="text" class="form-control" id="Subject" name="Subject" [(ngModel)]="ticket.Subject" required>
  </div>



  <div class="form-group">
    <label for="Description">Description</label>
    <textarea class="form-control" id="Description" name="Description" [(ngModel)]="ticket.Description"></textarea>
  </div>

  
    <label for="AssigneeID">Assigné à</label>
    <div class="p-field">
      <button type="button" (click)="showAssignDialog()" [disabled]="isDisable" class="p-button p-component p-button-icon-only">
        <span class="p-button-icon pi pi-user"></span>
      </button>
    </div> <br>
  
  <button type="submit" class="btn btn-primary">Mettre à jour</button>
</form>
