
<form (ngSubmit)="updateTicket()" #updateForm="ngForm" class="update-form p-fluid p-grid">
  <h2 class="form-title">Mettre à jour une Intervention</h2>
<p-toast></p-toast>
  <div class="form-field">
    <label for="Subject">Sujet</label>
    <input type="text" class="form-control" id="Subject" name="Subject" [(ngModel)]="ticket.Subject" required>
  </div>



  <div class="form-field">
    <label for="Description">Description</label>
    <textarea class="form-control" id="Description" name="Description" [(ngModel)]="ticket.Description"></textarea>
  </div>

  
    <label for="AssigneeID">Assigné à</label>
    <div class="form-field">
      <button type="button" (click)="showAssignDialog()" [disabled]="isDisable" class="p-button p-component p-button-icon-only">
        <span class="p-button-icon pi pi-user"></span>
      </button>
    </div> <br>
  

    <div class="form-field p-col-12">
      <button type="submit"  class="btn-primary">Mettre a jour</button>
    </div></form>
