<p-autoComplete 
  [(ngModel)]="selectedTechnician" 
  [suggestions]="filteredTechnicians" 
  (completeMethod)="filterTechnicians($event)"
  (onSelect)="onTechnicianSelect($event)"
  field="Username" 
  [dropdown]="true"
  placeholder="Select a technician">
</p-autoComplete>

<p-autoComplete 
  [(ngModel)]="selectedGroupe" 
  [suggestions]="filteredGroupe" 
  (completeMethod)="filterGroupe($event)"
  (onSelect)="onGroupeSelect($event)"
  field="GroupName" 
  [dropdown]="true"
  placeholder="Select a technician">
</p-autoComplete>


<button (click)="saveSelectedTechnician()">Save</button>
