<div class="grid">
  <div class="col-12">
      <div class="card px-6 py-6">
          <p-toast></p-toast>
          <p-toolbar styleClass="mb-4">
              <ng-template pTemplate="left">
                  <div class="my-2">
                      <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" routerLink="/addstock"></button>
                      <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedProducts()" [disabled]="!selectedProducts || !selectedProducts.length"></button>
                  </div>
              </ng-template>

              <ng-template pTemplate="right">
                  <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="mr-2 inline-block"></p-fileUpload>
                  <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help" (click)="dt.exportCSV()"></button>
              </ng-template>
          </p-toolbar>

          <p-table [value]="stockPieces" [value]="filteredStockPieces" [rows]="10" [paginator]="true" [responsive]="true" [rowsPerPageOptions]="[5,10,20]">              <ng-template pTemplate="caption">
                  <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                      <h5 class="m-0">Gérer le Stock</h5>
                      <span class="block mt-2 md:mt-0 p-input-icon-left">
                          <i class="pi pi-search"></i>
                          <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..."  class="w-full sm:w-auto"/>
                      </span>
                  </div>
             
<hr>

  <p-table [value]="stockPieces" #dt>
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 3rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th pSortableColumn="stock_id">Stock ID <p-sortIcon field="stock_id"></p-sortIcon></th>
        <th pSortableColumn="piece_id">Piece <p-sortIcon field="piece_id"></p-sortIcon></th>
        <th pSortableColumn="equipment_id">Equipment<p-sortIcon field="equipment_id"></p-sortIcon></th>
        <th pSortableColumn="quantity">Quantity <p-sortIcon field="quantity"></p-sortIcon></th>
        <th pSortableColumn="reserved_quantity">Reserved Quantity <p-sortIcon field="reserved_quantity"></p-sortIcon></th>
        <th pSortableColumn="local">Location <p-sortIcon field="local"></p-sortIcon></th>
        <th>Actions</th> <!-- Ajout de la colonne Actions -->
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-stockPiece>
      <tr>
        <td>
          <p-tableCheckbox [value]="stockPiece"></p-tableCheckbox>
      </td>
        <td>{{ stockPiece.stock_id }}</td>
        <td>{{ stockPiece.piece.nom_piece }}</td>
        <td>{{ stockPiece.equipment.TypeName}}</td>
        <td>{{ stockPiece.quantity }}</td>
        <td>{{ stockPiece.reserved_quantity }}</td>
        <td>{{ stockPiece.local }}</td>
      
        
        <td>
          <!-- Bouton Modifier -->
          <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"  [routerLink]="['/maj-stock', stockPiece.stock_id]" routerLinkActive="router-link-active"></button>
          <!-- Bouton Supprimer -->
          <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteStockPiece(stockPiece)"></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
  