<ngx-spinner bdOpacity="0.9" bdColor="rgba(51,51,51,0.5)" size="medium" color="#fff" type="ball-scale-multiple" [fullScreen]="true"></ngx-spinner>

<!-- Your other content goes here -->
<div class="grid">
  <div class="col-12">
    <div class="card px-6 py-6">
      <p-toast></p-toast>
      <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
          <button pButton pRipple label="Ajouter un stock" icon="pi pi-plus" class="p-button-success mr-2" [routerLink]="['/addstock']" routerLinkActive="router-link-active"></button>
        </ng-template>
        
        <ng-template pTemplate="right">
          <div class="search-box ml-auto">
            <i class="pi pi-search"></i>
            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Rechercher..." class="w-full sm:w-auto" />
          </div>
        </ng-template>
      </p-toolbar>  
  
      <p-table #dt [value]="stockPieces" [columns]="cols" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['piece_id','equipment_id','quantity','reserved_quantity','local']" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Affichage de {first} à {last} sur {totalRecords} entrées" selectionMode="multiple" [rowHover]="true" dataKey="id">
          <ng-template pTemplate="caption">
            <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
              <h5 class="m-0">Gérer le stock</h5>
            </div>
          </ng-template>
             
<hr>

    <ng-template pTemplate="header">
      <tr>

        <th pSortableColumn="piece_id">Piece <p-sortIcon field="piece_id"></p-sortIcon></th>
        <th pSortableColumn="equipment_id">Equipment<p-sortIcon field="equipment_id"></p-sortIcon></th>
        <th pSortableColumn="quantity">Quantity <p-sortIcon field="quantity"></p-sortIcon></th>
        <th pSortableColumn="reserved_quantity">Reserved Quantity <p-sortIcon field="reserved_quantity"></p-sortIcon></th>
        <th pSortableColumn="local">Location <p-sortIcon field="local"></p-sortIcon></th>
        <th>Actions</th> <!-- Ajout de la colonne Actions -->
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-stockPiece>
      <tr>
   
        <td>{{ stockPiece.piece.nom_piece }}</td>
        <td>{{ stockPiece.equipment.TypeName}}</td>
        <td>{{ stockPiece.quantity }}</td>
        <td>{{ stockPiece.reserved_quantity }}</td>
        <td>{{ stockPiece.local }}</td>
      
        <td>
          <!-- Bouton Modifier -->
          <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" [routerLink]="['/maj-stock', stockPiece.stock_id]" routerLinkActive="router-link-active"></button>
          <!-- Bouton Supprimer -->
          <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteStockPiece(stockPiece)"></button>
      </td>
       
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="8">Aucun stock trouvé.</td>
      </tr>
    </ng-template>
  </p-table>
  