  
    <form [formGroup]="pieceForm" (ngSubmit)="onSubmit()" class="update-form p-fluid p-grid"> 
     <h2  class="form-title">Modifier la pièce</h2>
     <p-toast></p-toast>

      <div class="form-field p-col-12 p-md-6">
        <label for="nom_piece">Nom de la pièce</label>
        <input type="text" [disabled]="true" formControlName="nom_piece" class="form-control">
      </div>
      <div class="form-field p-col-12 p-md-6">
        <label for="description">Description</label>
        <textarea formControlName="description" class="form-control"></textarea>
      </div>
      <div class="form-field p-col-12 p-md-6">
        <label for="material">Matériau</label>
        <input type="text" formControlName="material" class="form-control">
      </div>
      <div class="form-field p-col-12 p-md-6">
        <label for="serial_number">Numéro de série</label>
        <input type="text" formControlName="serial_number" class="form-control">
      </div>
      <div class="form-field p-col-12 p-md-6">
        <label for="cost">Coût</label>
        <input type="number" formControlName="cost" class="form-control">
      </div>
      <div class="form-field p-col-12 p-md-6">
        <label for="fournisseurSelect">Sélectionner un fournisseur :</label>
        <p-dropdown 
          id="fournisseurSelect" 
          [options]="fournisseurs" 
          optionLabel="nom_fournisseur" 
          optionValue="fournisseur_id" 
          formControlName="fournisseur_id" 
          [style]="{ width: '100%' }">
        </p-dropdown>
      </div>
      <!-- Ajoutez d'autres champs du formulaire ici -->
      <div class="form-field p-col-12">
        <button type="submit" pButton icon="pi pi-save" class="btn-primary">Mettre à jour</button>
      </div>
      <div class="form-field p-col-12">
        <button type="button" (click)="onCancel()" pButton icon="pi pi-times" class="btn-secondary">Annuler</button>
      </div>
    </form>
  