<!-- Cartes d'équipements -->
<div class="card equipment-card" *ngFor="let equipment of equipments">
    <div class="equipment-name">{{ equipment.name }}</div>
    <div class="equipment-location">{{ equipment.location }}</div>
    <div class="equipment-status">{{ equipment.status }}</div>
  </div>
  
  <!-- Cartes de tâches de maintenance -->
  <div class="card task-card" *ngFor="let task of tasks">
    <div class="task-title">{{ task.title }}</div>
    <div class="task-status">{{ task.status }}</div>
  </div>
  


<section class="overview">
    <div class="summary">
      <h2>Résumé</h2>
      <p>Bienvenue, {{ userName }} ! La dernière tâche que vous avez effectuée était "{{ lastTask }}".</p>
      <!-- Affichez ici d'autres informations de résumé si nécessaire -->
    </div>
  
    <div class="charts">
      <h2>Statistiques</h2>
      <div class="chart">
        <p-chart type="line" [data]="maintenanceRequestsData" [options]="maintenanceRequestsOptions"></p-chart>
        <p>Nombre de demandes de maintenance</p>
      </div>
    </div>
  </section>
  
  <section class="notifications">
    <h2>Notifications</h2>
    <ul>
      <li *ngFor="let notification of notifications">
        {{ notification.message }}
      </li>
    </ul>
  </section>
  
  <section class="equipment">
    <h2>Liste des équipements</h2>
    <div class="equipment-table">
      <table>
        <thead>
          <tr>
            <th>Nom</th>
            <th>Emplacement</th>
            <th>État</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let equipment of equipments">
            <td>{{ equipment.name }}</td>
            <td>{{ equipment.location }}</td>
            <td>{{ equipment.status }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
  