/* home.component.scss */

.overview {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  
    .summary {
      margin-bottom: 20px;
  
      h2 {
        font-size: 1.5rem;
        margin-bottom: 10px;
      }
  
      p {
        font-size: 1rem;
      }
    }
  
    .charts {
      display: flex;
      flex-wrap: wrap;
  
      h2 {
        flex-basis: 100%;
        margin-bottom: 10px;
        font-size: 1.5rem;
      }
  
      .chart {
        flex: 1 1 300px;
        margin-right: 20px;
        margin-bottom: 20px;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 5px;
        background-color: #fff;
  
        p {
          margin-top: 10px;
          font-size: 1rem;
          text-align: center;
        }
      }
    }
  }
  
  // Media query pour rendre la mise en page responsive
  @media screen and (max-width: 768px) {
    .overview {
      .charts {
        flex-direction: column;
  
        .chart {
          flex: 1 1 100%;
          margin-right: 0;
        }
      }
    }
  }
  

  /* home.component.scss */

.equipment {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  
    h2 {
      font-size: 1.5rem;
      margin-bottom: 10px;
    }
  
    .equipment-table {
      overflow-x: auto;
  
      table {
        width: 100%;
        border-collapse: collapse;
  
        th, td {
          padding: 8px;
          border: 1px solid #ddd;
        }
  
        th {
          background-color: #f2f2f2;
          font-weight: bold;
        }
  
        tr:nth-child(even) {
          background-color: #f2f2f2;
        }
  
        tr:hover {
          background-color: #ddd;
        }
      }
    }
  }
  
  // Media query pour rendre la table responsive
  @media screen and (max-width: 768px) {
    .equipment .equipment-table table {
      overflow-x: auto;
      display: block;
  
      thead {
        display: none;
      }
  
      tbody, tr, td {
        display: block;
        width: 100%;
      }
  
      td {
        text-align: left;
      }
    }
  }
  /* home.component.scss */

.overview {
    margin-bottom: 20px;
  
    .summary {
      background-color: #f9f9f9;
      border: 1px solid #ddd;
      border-radius: 5px;
      padding: 20px;
      margin-bottom: 20px;
  
      h2 {
        font-size: 1.5rem;
        margin-bottom: 10px;
      }
  
      p {
        font-size: 1rem;
        margin-bottom: 0;
      }
    }
  

  }
  
  .notifications {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
  
    h2 {
      font-size: 1.5rem;
      margin-bottom: 10px;
    }
  
    ul {
      list-style-type: none;
      padding: 0;
  
      li {
        font-size: 1rem;
        margin-bottom: 10px;
        border-left: 4px solid #007bff; /* Couleur de bordure pour les notifications */
        padding-left: 10px;
      }
    }
  }
  