<div class="card mb-4 p-3" *ngIf="isTechnician || isManager">
    <div class="flex justify-content-between mb-3">
        <div>
            <span class="block text-500 font-medium mb-1">Interventions</span>
            <div class="text-900 font-medium text-xl">{{ unreadTasks }} Non lues</div>
        </div>
        <div class="flex align-items-center justify-content-center bg-purple-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
            <i class="pi pi-spin pi-cog" style="font-size: 2rem"></i>
        </div>
    </div>
    <div class="flex justify-content-between mb-3">
        <div>
            <span class="text-green-500 font-medium">{{ respondedTasks }}</span>
            <span class="text-500"> traitées</span>
        </div>
        <div>
            <span class="text-blue-500 font-medium">{{ encours }}</span>
            <span class="text-500"> en cours</span>
        </div>
    </div>
    <hr class="my-2">
    <div class="flex justify-content-between mb-3">
        <div>
            <span class="text-red-500 font-medium">{{ annuler }}</span>
            <span class="text-500"> en suspendu</span>
        </div>
    </div>
</div>

<div class="grid dashboard">
    <!-- Section for Manager -->
    <div class="col-12" *ngIf="isManager">
        <app-tache-rec></app-tache-rec>
    </div>
    
    <div class="col-12 xl:col-6" *ngIf="isManager">
        <app-taches-courbe></app-taches-courbe>
    </div>

    <div class="col-12 xl:col-6" *ngIf="isManager">
        <app-average-asset-lifetime></app-average-asset-lifetime>
    </div>

    <!-- Section for Technician -->
    <div class="col-12 xl:col-6" *ngIf="isTechnician">
        <app-tache-rec-Emp></app-tache-rec-Emp>
    </div> 
    <div class="col-12 xl:col-6" *ngIf="isTechnician || isManager">
        <app-maintenance-claim></app-maintenance-claim>
    </div> 
    <div class="col-12 xl:col-6" *ngIf="isTechnician || isManager">
        <app-most-consumed-equipment></app-most-consumed-equipment>
    </div>

  <div class="col-12 xl:col-6" *ngIf="isMagasinier || isManager">
        <app-bestseller></app-bestseller>
    </div>
    <!-- Section for Magasinier -->
    <div class="col-12 xl:col-6" *ngIf="isMagasinier">
        <app-commande-stat></app-commande-stat>
    </div>

  

    <div class="col-12 xl:col-6" *ngIf="isMagasinier">
        <app-most-used-pieces></app-most-used-pieces>
    </div>

    <!-- Section for Admin -->
    <div *ngIf="isAdmin">
        <app-access-stats></app-access-stats>
    </div>

    <!-- Uncomment when needed -->
    <!-- <div class="col-12 xl:col-6">
        <app-failures-by-period></app-failures-by-period>
    </div> -->
</div>

