<ngx-spinner bdOpacity="0.9" bdColor="rgba(51,51,51,0.5)" size="medium" color="#fff" type="ball-scale-multiple" [fullScreen]="true"></ngx-spinner>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="grid">
  <div class="col-12">
    <div class="card px-6 py-6">
      <p-toast></p-toast>
      <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
          <!-- Bouton d'ajout de membre supprimé -->
        </ng-template>
        <ng-template pTemplate="right">
          <div class="search-box ml-auto">
            <i class="pi pi-search"></i>
            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Rechercher..." class="w-full sm:w-auto" />
          </div>
        </ng-template>
      </p-toolbar>

      <p-table #dt [value]="membres" [columns]="cols" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['LastName','FirstName','Email']" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Affichage de {first} à {last} sur {totalRecords} entrées" selectionMode="single" [rowHover]="true" dataKey="id">
        <ng-template pTemplate="caption">
          <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
            <h5 class="m-0">Voir mes collègues</h5>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="FirstName">Prénom <p-sortIcon field="FirstName"></p-sortIcon></th>
            <th pSortableColumn="LastName">Nom <p-sortIcon field="LastName"></p-sortIcon></th>
            <th pSortableColumn="Email">Email <p-sortIcon field="Email"></p-sortIcon></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-membre>
          <tr>
            <td>{{ membre.FirstName }}</td>
            <td>{{ membre.LastName }}</td>
            <td>{{ membre.Email }}</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="3">Aucun membre trouvé.</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
