<ngx-spinner bdOpacity="0.9" bdColor="rgba(51,51,51,0.5)" size="medium" color="#fff" type="ball-scale-multiple" [fullScreen]="true"></ngx-spinner>

<!-- Your other content goes here -->
<div class="grid">
  <div class="col-12">
    <div class="card px-6 py-6">
      <p-toast></p-toast>
      <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
          <button pButton pRipple label="Ajouter un technicien" icon="pi pi-plus" class="p-button-success mr-2" [routerLink]="['/add']" routerLinkActive="router-link-active"></button>
        </ng-template>
        <ng-template pTemplate="right">
          <div class="search-box ml-auto">
            <i class="pi pi-search"></i>
            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Rechercher..." class="w-full sm:w-auto" />
          </div>
        </ng-template>
      </p-toolbar>

      <p-table #dt [value]="userstech" [columns]="cols" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['name','country.name','representative.name','status']" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Affichage de {first} à {last} sur {totalRecords} entrées" selectionMode="multiple" [rowHover]="true" dataKey="id">
        <ng-template pTemplate="caption">
          <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
            <h5 class="m-0">Gérer les users technician groups</h5>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="Username">user name <p-sortIcon field="Username"></p-sortIcon></th>
                <th pSortableColumn="GroupName">groupe name <p-sortIcon field="GroupName"></p-sortIcon></th>

                <th>Action</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-userstech>
          <tr *ngFor="let user of userstech.users; let i = index">
              <td hidden>{{ i }}</td> <!-- Afficher l'index à partir de 0 -->
              <td>{{ user.Username }}</td> <!-- Afficher le nom d'utilisateur -->
              <td>{{ userstech.GroupName }}</td>
      
              <td>
                  <div class="flex">
                   
                      <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="confirmDeleteUsersTech(user.UserID)"></button>
                  </div>
              </td>
          </tr>
      </ng-template>
      

        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="8">Aucun tech user trouvé.</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
