<div class="group-detail">
  
  <button (click)="printDocument()" class="btn-print">Imprimer</button>
  <h2>Les détails d'un équipement</h2>
  
    <div class="detail-row">
      <label> Nom de l'équipement: </label>
      <span>{{ equipment.TypeName }}</span>
    </div>
  
    <div class="detail-row">
      <label>Description: </label>
      <span>{{ equipment.Description }}</span>
    </div>
  
    <div class="detail-row">
      <label>Fabricant: </label>
      <span>{{ equipment.Manufacturer }}</span>
    </div>
  
    <div class="detail-row">
      <label>numero de model: </label>
      <span>{{ equipment.ModelNumber }}</span>
    </div>
  
    <div class="detail-row">
      <label>Numero de serie: </label>
      <span>{{ equipment.SerialNumber }}</span>
    </div>
  
    <div class="detail-row">
      <label>Date d'installation: </label>
      <span>{{ equipment.InstallationDate }}</span>
    </div>
  
    <div class="detail-row">
      <label>Expiration de la garantie : </label>
      <span>{{ equipment.WarrantyExpiration }}</span>
    </div>
  
    <div class="detail-row">
      <label>Interval de :</label>
      <span>{{ equipment.MaintenanceInterval }} mois</span>
    </div>
  
    <div class="detail-row">
      <label>Date de derniere maintenance :</label>
      <span>{{ equipment.LastMaintenanceDate }}</span>
    </div>
  
  
  </div>
  