<div class="loading-overlay" *ngIf="isLoading">
    <p-progressSpinner *ngIf="isLoading" ariaLabel="chargement"></p-progressSpinner>
  </div>
  <div class="group-detail">
      
    
      <button (click)="printDocument()" class="btn-print">Print</button>
    <h2>Equipement Details</h2>
  
    <div class="detail-row">
      <label>Type Name: </label>
      <span>{{ equipment.TypeName }}</span>
    </div>
  
    <div class="detail-row">
      <label>Description: </label>
      <span>{{ equipment.Description }}</span>
    </div>
  
    <div class="detail-row">
      <label>Manufacturer: </label>
      <span>{{ equipment.Manufacturer }}</span>
    </div>
  
    <div class="detail-row">
      <label>Model Number: </label>
      <span>{{ equipment.ModelNumber }}</span>
    </div>
  
    <div class="detail-row">
      <label>Serial Number: </label>
      <span>{{ equipment.SerialNumber }}</span>
    </div>
  
    <div class="detail-row">
      <label>Installation Date: </label>
      <span>{{ equipment.InstallationDate }}</span>
    </div>
  
    <div class="detail-row">
      <label>Warranty Expiration: </label>
      <span>{{ equipment.WarrantyExpiration }}</span>
    </div>
  
    <div class="detail-row">
      <label>Maintenance Interval (in months): </label>
      <span>{{ equipment.MaintenanceInterval }}</span>
    </div>
  
    <div class="detail-row">
      <label>Last Maintenance Date: </label>
      <span>{{ equipment.LastMaintenanceDate }}</span>
    </div>
  
    <div class="detail-row">
      <label>Created By: </label>
      <span>{{ equipment.CreatedBy }}</span>
    </div>
  
    <div class="detail-row">
      <label>Created On: </label>
      <span>{{ equipment.CreatedOn }}</span>
    </div>
  
    <div class="detail-row">
      <label>Modified By: </label>
      <span>{{ equipment.ModifiedBy }}</span>
    </div>
  
    <div class="detail-row">
      <label>Modified On: </label>
      <span>{{ equipment.ModifiedOn }}</span>
    </div>
  
  </div>
  