<!-- piece-form.component.html -->
<form [formGroup]="fournisseurform" (ngSubmit)="onSubmit()" class="update-form p-fluid p-grid">
    <p-toast></p-toast>

        <h2 class="form-title"> Ajouter un fournisseur</h2>
        <div class="form-field">
            <label for="nom_fournisseur">Nom du fournisseur</label>
            <input type="text" id="nom_fournisseur" formControlName="nom_fournisseur" pInputText />
            <div *ngIf="fournisseurform.get('nom_fournisseur').invalid && fournisseurform.get('nom_fournisseur').touched" class="p-error">
                Le nom du fournisseur est requis.
            </div>
        </div>
        <div class="form-field">
            <label for="adresse">Adresse</label>
            <input type="text" id="adresse" formControlName="adresse" pInputText />
            <div *ngIf="fournisseurform.get('adresse').invalid && fournisseurform.get('adresse').touched" class="p-error">
                L'adresse est requise.
            </div>
        </div>
        <div class="form-field">
            <label for="email">Email</label>
            <input type="email" id="email" formControlName="email" pInputText />
            <div *ngIf="fournisseurform.get('email').invalid && fournisseurform.get('email').touched" class="p-error">
                Une adresse email valide est requise.
            </div>
        </div>
        <div class="form-field">
            <label for="telephone">Téléphone</label>
            <input type="tel" id="telephone" formControlName="telephone" pInputText />
            <div *ngIf="fournisseurform.get('telephone').invalid && fournisseurform.get('telephone').touched" class="p-error">
                Le numéro de téléphone est requis.
            </div>
        </div>
    
    <div class="form-field p-col-12">
        <button type="submit" [disabled]="fournisseurform.invalid" class="btn-primary">Ajouter un fournisseur</button>
   </div>    
   <div class="form-field p-col-12">
    <button type="button" (click)="onCancel()" class="btn-secondary">Annuler</button>
    </div>
</form>
